
/*
 * VAST API Swagger Schema
 *
 * VAST Management API definition
 *
 * API version: 1.0
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package swagger

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type ObjectpermissionsApiService service
/*
ObjectpermissionsApiService List Object Permissions
This endpoint lists object permissions.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *ObjectpermissionsApiObjectpermissionsListOpts - Optional Parameters:
     * @param "ObjectType" (optional.String) - 
     * @param "ObjectId" (optional.String) - 
     * @param "Realm" (optional.String) - 
     * @param "Permissions" (optional.String) - 
     * @param "ManagerId" (optional.String) - 
     * @param "RoleId" (optional.String) - 
@return []ObjectPermission
*/

type ObjectpermissionsApiObjectpermissionsListOpts struct {
    ObjectType optional.String
    ObjectId optional.String
    Realm optional.String
    Permissions optional.String
    ManagerId optional.String
    RoleId optional.String
}

func (a *ObjectpermissionsApiService) ObjectpermissionsList(ctx context.Context, localVarOptionals *ObjectpermissionsApiObjectpermissionsListOpts) ([]ObjectPermission, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue []ObjectPermission
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/permissions/objects/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.ObjectType.IsSet() {
		localVarQueryParams.Add("object_type", parameterToString(localVarOptionals.ObjectType.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ObjectId.IsSet() {
		localVarQueryParams.Add("object_id", parameterToString(localVarOptionals.ObjectId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Realm.IsSet() {
		localVarQueryParams.Add("realm", parameterToString(localVarOptionals.Realm.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Permissions.IsSet() {
		localVarQueryParams.Add("permissions", parameterToString(localVarOptionals.Permissions.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ManagerId.IsSet() {
		localVarQueryParams.Add("manager_id", parameterToString(localVarOptionals.ManagerId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.RoleId.IsSet() {
		localVarQueryParams.Add("role_id", parameterToString(localVarOptionals.RoleId.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v []ObjectPermission
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
