/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// NativereplicationremotetargetsAPIService NativereplicationremotetargetsAPI service
type NativereplicationremotetargetsAPIService service

type NativereplicationremotetargetsAPIGetRemoteMappingRequest struct {
	ctx context.Context
	ApiService *NativereplicationremotetargetsAPIService
}

func (r NativereplicationremotetargetsAPIGetRemoteMappingRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetRemoteMappingExecute(r)
}

/*
GetRemoteMapping Get the mapping between targets and remote view poicies

This endpoint presents the remote mapping

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NativereplicationremotetargetsAPIGetRemoteMappingRequest
*/
func (a *NativereplicationremotetargetsAPIService) GetRemoteMapping(ctx context.Context) NativereplicationremotetargetsAPIGetRemoteMappingRequest {
	return NativereplicationremotetargetsAPIGetRemoteMappingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *NativereplicationremotetargetsAPIService) GetRemoteMappingExecute(r NativereplicationremotetargetsAPIGetRemoteMappingRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NativereplicationremotetargetsAPIService.GetRemoteMapping")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/nativereplicationremotetargets/get_remote_mapping/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest struct {
	ctx context.Context
	ApiService *NativereplicationremotetargetsAPIService
	nativeReplicationRemoteTargetCreateParams *NativereplicationremotetargetsCreateRequest
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest) NativeReplicationRemoteTargetCreateParams(nativeReplicationRemoteTargetCreateParams NativereplicationremotetargetsCreateRequest) NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest {
	r.nativeReplicationRemoteTargetCreateParams = &nativeReplicationRemoteTargetCreateParams
	return r
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest) Execute() (*NativeReplicationRemoteTarget, *http.Response, error) {
	return r.ApiService.NativereplicationremotetargetsCreateExecute(r)
}

/*
NativereplicationremotetargetsCreate Create a Native Replication Peer

This endpoint creates a native replication peer configuration between the local cluster and a remote cluster. Prerequisite: a VIP pool on each cluster with role=replication.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest
*/
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsCreate(ctx context.Context) NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest {
	return NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return NativeReplicationRemoteTarget
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsCreateExecute(r NativereplicationremotetargetsAPINativereplicationremotetargetsCreateRequest) (*NativeReplicationRemoteTarget, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NativeReplicationRemoteTarget
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NativereplicationremotetargetsAPIService.NativereplicationremotetargetsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/nativereplicationremotetargets/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nativeReplicationRemoteTargetCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NativereplicationremotetargetsAPINativereplicationremotetargetsDeleteRequest struct {
	ctx context.Context
	ApiService *NativereplicationremotetargetsAPIService
	id string
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.NativereplicationremotetargetsDeleteExecute(r)
}

/*
NativereplicationremotetargetsDelete Delete a Native Replication Peer

This endpoint deletes a native replication peer (aka NativeReplicationRemoteTarget).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return NativereplicationremotetargetsAPINativereplicationremotetargetsDeleteRequest
*/
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsDelete(ctx context.Context, id string) NativereplicationremotetargetsAPINativereplicationremotetargetsDeleteRequest {
	return NativereplicationremotetargetsAPINativereplicationremotetargetsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsDeleteExecute(r NativereplicationremotetargetsAPINativereplicationremotetargetsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NativereplicationremotetargetsAPIService.NativereplicationremotetargetsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/nativereplicationremotetargets/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest struct {
	ctx context.Context
	ApiService *NativereplicationremotetargetsAPIService
	page *string
	name *string
	leadingVip *string
	pool *string
	version *string
	remoteVersion *string
	lastHeartBeat *string
	spaceLeft *string
	remoteVips *string
	state *string
	secureMode *string
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) Page(page string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.page = &page
	return r
}

// Filter by name
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) Name(name string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.name = &name
	return r
}

// Filter by leading remote VIP, a VIP that is specified when creating the peer. It is one of the VIPs in the remote peer&#39;s replication VIP Pool.
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) LeadingVip(leadingVip string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.leadingVip = &leadingVip
	return r
}

// Filter by the name of the local cluster&#39;s replication VIP pool
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) Pool(pool string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.pool = &pool
	return r
}

// Filter by local cluster&#39;s software version
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) Version(version string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.version = &version
	return r
}

// Filter by remote peer&#39;s software version
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) RemoteVersion(remoteVersion string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.remoteVersion = &remoteVersion
	return r
}

// Filter by last heartbeat, the time of the last successful message sent, arrived and acknowledged by the peer.
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) LastHeartBeat(lastHeartBeat string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.lastHeartBeat = &lastHeartBeat
	return r
}

// Filter by logical capacity remaining available on the remote peer. 
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) SpaceLeft(spaceLeft string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.spaceLeft = &spaceLeft
	return r
}

// remote vips
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) RemoteVips(remoteVips string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.remoteVips = &remoteVips
	return r
}

// Filter by state
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) State(state string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.state = &state
	return r
}

// Filter by secure_mode
func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) SecureMode(secureMode string) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	r.secureMode = &secureMode
	return r
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) Execute() ([]NativeReplicationRemoteTarget, *http.Response, error) {
	return r.ApiService.NativereplicationremotetargetsListExecute(r)
}

/*
NativereplicationremotetargetsList List Native Replication Peers

This endpoint presents the native replication remote targets.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest
*/
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsList(ctx context.Context) NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest {
	return NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []NativeReplicationRemoteTarget
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsListExecute(r NativereplicationremotetargetsAPINativereplicationremotetargetsListRequest) ([]NativeReplicationRemoteTarget, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []NativeReplicationRemoteTarget
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NativereplicationremotetargetsAPIService.NativereplicationremotetargetsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/nativereplicationremotetargets/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.leadingVip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leading_vip", r.leadingVip, "")
	}
	if r.pool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool", r.pool, "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "")
	}
	if r.remoteVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_version", r.remoteVersion, "")
	}
	if r.lastHeartBeat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "last_heart_beat", r.lastHeartBeat, "")
	}
	if r.spaceLeft != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "space_left", r.spaceLeft, "")
	}
	if r.remoteVips != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remote_vips", r.remoteVips, "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "")
	}
	if r.secureMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "secure_mode", r.secureMode, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *NativereplicationremotetargetsAPIService
	id string
	nativeReplicationRemoteTargetModifyParams *NativereplicationremotetargetsPartialUpdateRequest
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest) NativeReplicationRemoteTargetModifyParams(nativeReplicationRemoteTargetModifyParams NativereplicationremotetargetsPartialUpdateRequest) NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest {
	r.nativeReplicationRemoteTargetModifyParams = &nativeReplicationRemoteTargetModifyParams
	return r
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.NativereplicationremotetargetsPartialUpdateExecute(r)
}

/*
NativereplicationremotetargetsPartialUpdate Modify a Native Replication Peer (aka Native Replication Remote Target)

This endpoint modifies a native replication peer (aka NativeReplicationRemoteTarget).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the Native Replication Remote Target to modify
 @return NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest
*/
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsPartialUpdate(ctx context.Context, id string) NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest {
	return NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsPartialUpdateExecute(r NativereplicationremotetargetsAPINativereplicationremotetargetsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NativereplicationremotetargetsAPIService.NativereplicationremotetargetsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/nativereplicationremotetargets/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.nativeReplicationRemoteTargetModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type NativereplicationremotetargetsAPINativereplicationremotetargetsReadRequest struct {
	ctx context.Context
	ApiService *NativereplicationremotetargetsAPIService
	id string
}

func (r NativereplicationremotetargetsAPINativereplicationremotetargetsReadRequest) Execute() (*NativeReplicationRemoteTarget, *http.Response, error) {
	return r.ApiService.NativereplicationremotetargetsReadExecute(r)
}

/*
NativereplicationremotetargetsRead Return Details of a Native Replication Peer

This endpoint returns details of a native replication peer, also known as a replication target.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id index of replication target
 @return NativereplicationremotetargetsAPINativereplicationremotetargetsReadRequest
*/
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsRead(ctx context.Context, id string) NativereplicationremotetargetsAPINativereplicationremotetargetsReadRequest {
	return NativereplicationremotetargetsAPINativereplicationremotetargetsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return NativeReplicationRemoteTarget
func (a *NativereplicationremotetargetsAPIService) NativereplicationremotetargetsReadExecute(r NativereplicationremotetargetsAPINativereplicationremotetargetsReadRequest) (*NativeReplicationRemoteTarget, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *NativeReplicationRemoteTarget
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NativereplicationremotetargetsAPIService.NativereplicationremotetargetsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/nativereplicationremotetargets/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
