/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AlarmsAPIService AlarmsAPI service
type AlarmsAPIService service

type AlarmsAPIAlarmsClearRequest struct {
	ctx context.Context
	ApiService *AlarmsAPIService
}

func (r AlarmsAPIAlarmsClearRequest) Execute() (*http.Response, error) {
	return r.ApiService.AlarmsClearExecute(r)
}

/*
AlarmsClear Clear Alarms

This endpoint clears all alarms.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AlarmsAPIAlarmsClearRequest
*/
func (a *AlarmsAPIService) AlarmsClear(ctx context.Context) AlarmsAPIAlarmsClearRequest {
	return AlarmsAPIAlarmsClearRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AlarmsAPIService) AlarmsClearExecute(r AlarmsAPIAlarmsClearRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlarmsAPIService.AlarmsClear")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alarms/clear/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AlarmsAPIAlarmsDeleteRequest struct {
	ctx context.Context
	ApiService *AlarmsAPIService
	id string
}

func (r AlarmsAPIAlarmsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.AlarmsDeleteExecute(r)
}

/*
AlarmsDelete Delete Alarm

This endpoint deletes an alarm.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Alarm ID
 @return AlarmsAPIAlarmsDeleteRequest
*/
func (a *AlarmsAPIService) AlarmsDelete(ctx context.Context, id string) AlarmsAPIAlarmsDeleteRequest {
	return AlarmsAPIAlarmsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *AlarmsAPIService) AlarmsDeleteExecute(r AlarmsAPIAlarmsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlarmsAPIService.AlarmsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alarms/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AlarmsAPIAlarmsListRequest struct {
	ctx context.Context
	ApiService *AlarmsAPIService
	page *string
	pageSize *string
	timestampGte *string
	timestampLte *string
	severity *string
	alarmMessageContains *string
	objectGuid *string
	objectType *string
	objectId *string
	onlyDiscoveredHosts *string
}

func (r AlarmsAPIAlarmsListRequest) Page(page string) AlarmsAPIAlarmsListRequest {
	r.page = &page
	return r
}

func (r AlarmsAPIAlarmsListRequest) PageSize(pageSize string) AlarmsAPIAlarmsListRequest {
	r.pageSize = &pageSize
	return r
}

func (r AlarmsAPIAlarmsListRequest) TimestampGte(timestampGte string) AlarmsAPIAlarmsListRequest {
	r.timestampGte = &timestampGte
	return r
}

func (r AlarmsAPIAlarmsListRequest) TimestampLte(timestampLte string) AlarmsAPIAlarmsListRequest {
	r.timestampLte = &timestampLte
	return r
}

func (r AlarmsAPIAlarmsListRequest) Severity(severity string) AlarmsAPIAlarmsListRequest {
	r.severity = &severity
	return r
}

func (r AlarmsAPIAlarmsListRequest) AlarmMessageContains(alarmMessageContains string) AlarmsAPIAlarmsListRequest {
	r.alarmMessageContains = &alarmMessageContains
	return r
}

func (r AlarmsAPIAlarmsListRequest) ObjectGuid(objectGuid string) AlarmsAPIAlarmsListRequest {
	r.objectGuid = &objectGuid
	return r
}

func (r AlarmsAPIAlarmsListRequest) ObjectType(objectType string) AlarmsAPIAlarmsListRequest {
	r.objectType = &objectType
	return r
}

func (r AlarmsAPIAlarmsListRequest) ObjectId(objectId string) AlarmsAPIAlarmsListRequest {
	r.objectId = &objectId
	return r
}

// get only discovery related hosts
func (r AlarmsAPIAlarmsListRequest) OnlyDiscoveredHosts(onlyDiscoveredHosts string) AlarmsAPIAlarmsListRequest {
	r.onlyDiscoveredHosts = &onlyDiscoveredHosts
	return r
}

func (r AlarmsAPIAlarmsListRequest) Execute() ([]Alarm, *http.Response, error) {
	return r.ApiService.AlarmsListExecute(r)
}

/*
AlarmsList List Alarms

This endpoint lists alarms. The parameters filter the list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return AlarmsAPIAlarmsListRequest
*/
func (a *AlarmsAPIService) AlarmsList(ctx context.Context) AlarmsAPIAlarmsListRequest {
	return AlarmsAPIAlarmsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Alarm
func (a *AlarmsAPIService) AlarmsListExecute(r AlarmsAPIAlarmsListRequest) ([]Alarm, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Alarm
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlarmsAPIService.AlarmsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alarms/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	if r.timestampGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp__gte", r.timestampGte, "")
	}
	if r.timestampLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp__lte", r.timestampLte, "")
	}
	if r.severity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severity", r.severity, "")
	}
	if r.alarmMessageContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alarm_message__contains", r.alarmMessageContains, "")
	}
	if r.objectGuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object_guid", r.objectGuid, "")
	}
	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object_type", r.objectType, "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object_id", r.objectId, "")
	}
	if r.onlyDiscoveredHosts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "only_discovered_hosts", r.onlyDiscoveredHosts, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AlarmsAPIAlarmsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *AlarmsAPIService
	id string
	alarmModifyParams *AlarmsPartialUpdateRequest
}

func (r AlarmsAPIAlarmsPartialUpdateRequest) AlarmModifyParams(alarmModifyParams AlarmsPartialUpdateRequest) AlarmsAPIAlarmsPartialUpdateRequest {
	r.alarmModifyParams = &alarmModifyParams
	return r
}

func (r AlarmsAPIAlarmsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.AlarmsPartialUpdateExecute(r)
}

/*
AlarmsPartialUpdate Acknowledge Alarm

This endpoint acknowledges an alarm.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Alarm ID
 @return AlarmsAPIAlarmsPartialUpdateRequest
*/
func (a *AlarmsAPIService) AlarmsPartialUpdate(ctx context.Context, id string) AlarmsAPIAlarmsPartialUpdateRequest {
	return AlarmsAPIAlarmsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *AlarmsAPIService) AlarmsPartialUpdateExecute(r AlarmsAPIAlarmsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlarmsAPIService.AlarmsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alarms/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.alarmModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type AlarmsAPIAlarmsReadRequest struct {
	ctx context.Context
	ApiService *AlarmsAPIService
	id string
}

func (r AlarmsAPIAlarmsReadRequest) Execute() (*Alarm, *http.Response, error) {
	return r.ApiService.AlarmsReadExecute(r)
}

/*
AlarmsRead Return Details of an Alarm

This endpoint returns details of a specified alarm

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Alarm ID
 @return AlarmsAPIAlarmsReadRequest
*/
func (a *AlarmsAPIService) AlarmsRead(ctx context.Context, id string) AlarmsAPIAlarmsReadRequest {
	return AlarmsAPIAlarmsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Alarm
func (a *AlarmsAPIService) AlarmsReadExecute(r AlarmsAPIAlarmsReadRequest) (*Alarm, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Alarm
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlarmsAPIService.AlarmsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/alarms/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
