/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UserquotasAPIService UserquotasAPI service
type UserquotasAPIService service

type UserquotasAPIUserQuotasCreateRequest struct {
	ctx context.Context
	ApiService *UserquotasAPIService
	userQuotaCreateParams *UserQuotasCreateRequest
}

func (r UserquotasAPIUserQuotasCreateRequest) UserQuotaCreateParams(userQuotaCreateParams UserQuotasCreateRequest) UserquotasAPIUserQuotasCreateRequest {
	r.userQuotaCreateParams = &userQuotaCreateParams
	return r
}

func (r UserquotasAPIUserQuotasCreateRequest) Execute() (*UserQuota, *http.Response, error) {
	return r.ApiService.UserQuotasCreateExecute(r)
}

/*
UserQuotasCreate Create a User Quota

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserquotasAPIUserQuotasCreateRequest
*/
func (a *UserquotasAPIService) UserQuotasCreate(ctx context.Context) UserquotasAPIUserQuotasCreateRequest {
	return UserquotasAPIUserQuotasCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return UserQuota
func (a *UserquotasAPIService) UserQuotasCreateExecute(r UserquotasAPIUserQuotasCreateRequest) (*UserQuota, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserQuota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserquotasAPIService.UserQuotasCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/userquotas/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userQuotaCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UserquotasAPIUserQuotasDeleteRequest struct {
	ctx context.Context
	ApiService *UserquotasAPIService
	id string
}

func (r UserquotasAPIUserQuotasDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.UserQuotasDeleteExecute(r)
}

/*
UserQuotasDelete Delete User Quota

This endpoint deletes a user quota.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id User Quota ID
 @return UserquotasAPIUserQuotasDeleteRequest
*/
func (a *UserquotasAPIService) UserQuotasDelete(ctx context.Context, id string) UserquotasAPIUserQuotasDeleteRequest {
	return UserquotasAPIUserQuotasDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *UserquotasAPIService) UserQuotasDeleteExecute(r UserquotasAPIUserQuotasDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserquotasAPIService.UserQuotasDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/userquotas/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type UserquotasAPIUserQuotasListRequest struct {
	ctx context.Context
	ApiService *UserquotasAPIService
	page *string
	pageSize *string
	isAccountable *bool
	quotaSystemId *int32
	quotaId *int32
	entityIsGroup *bool
	refreshData *bool
}

func (r UserquotasAPIUserQuotasListRequest) Page(page string) UserquotasAPIUserQuotasListRequest {
	r.page = &page
	return r
}

func (r UserquotasAPIUserQuotasListRequest) PageSize(pageSize string) UserquotasAPIUserQuotasListRequest {
	r.pageSize = &pageSize
	return r
}

func (r UserquotasAPIUserQuotasListRequest) IsAccountable(isAccountable bool) UserquotasAPIUserQuotasListRequest {
	r.isAccountable = &isAccountable
	return r
}

func (r UserquotasAPIUserQuotasListRequest) QuotaSystemId(quotaSystemId int32) UserquotasAPIUserQuotasListRequest {
	r.quotaSystemId = &quotaSystemId
	return r
}

func (r UserquotasAPIUserQuotasListRequest) QuotaId(quotaId int32) UserquotasAPIUserQuotasListRequest {
	r.quotaId = &quotaId
	return r
}

func (r UserquotasAPIUserQuotasListRequest) EntityIsGroup(entityIsGroup bool) UserquotasAPIUserQuotasListRequest {
	r.entityIsGroup = &entityIsGroup
	return r
}

func (r UserquotasAPIUserQuotasListRequest) RefreshData(refreshData bool) UserquotasAPIUserQuotasListRequest {
	r.refreshData = &refreshData
	return r
}

func (r UserquotasAPIUserQuotasListRequest) Execute() ([]UserQuota, *http.Response, error) {
	return r.ApiService.UserQuotasListExecute(r)
}

/*
UserQuotasList List User Quotas

This endpoint lists user quotas. The parameters enable you to filter the list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserquotasAPIUserQuotasListRequest
*/
func (a *UserquotasAPIService) UserQuotasList(ctx context.Context) UserquotasAPIUserQuotasListRequest {
	return UserquotasAPIUserQuotasListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []UserQuota
func (a *UserquotasAPIService) UserQuotasListExecute(r UserquotasAPIUserQuotasListRequest) ([]UserQuota, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []UserQuota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserquotasAPIService.UserQuotasList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/userquotas/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	if r.isAccountable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "is_accountable", r.isAccountable, "")
	}
	if r.quotaSystemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "quota_system_id", r.quotaSystemId, "")
	}
	if r.quotaId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "quota_id", r.quotaId, "")
	}
	if r.entityIsGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "entity__is_group", r.entityIsGroup, "")
	}
	if r.refreshData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "refresh_data", r.refreshData, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UserquotasAPIUserQuotasPartialUpdateRequest struct {
	ctx context.Context
	ApiService *UserquotasAPIService
	id string
	userQuotaModifyParams *UserQuotasPartialUpdateRequest
}

func (r UserquotasAPIUserQuotasPartialUpdateRequest) UserQuotaModifyParams(userQuotaModifyParams UserQuotasPartialUpdateRequest) UserquotasAPIUserQuotasPartialUpdateRequest {
	r.userQuotaModifyParams = &userQuotaModifyParams
	return r
}

func (r UserquotasAPIUserQuotasPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.UserQuotasPartialUpdateExecute(r)
}

/*
UserQuotasPartialUpdate Modify User Quota

This endpoint modifies a user quota.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id User Quota ID
 @return UserquotasAPIUserQuotasPartialUpdateRequest
*/
func (a *UserquotasAPIService) UserQuotasPartialUpdate(ctx context.Context, id string) UserquotasAPIUserQuotasPartialUpdateRequest {
	return UserquotasAPIUserQuotasPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *UserquotasAPIService) UserQuotasPartialUpdateExecute(r UserquotasAPIUserQuotasPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserquotasAPIService.UserQuotasPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/userquotas/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userQuotaModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type UserquotasAPIUserQuotasReadRequest struct {
	ctx context.Context
	ApiService *UserquotasAPIService
	id string
}

func (r UserquotasAPIUserQuotasReadRequest) Execute() (*UserQuota, *http.Response, error) {
	return r.ApiService.UserQuotasReadExecute(r)
}

/*
UserQuotasRead Return details of a user quota.

This endpoint returns details of a specified user quota.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id User Quota ID
 @return UserquotasAPIUserQuotasReadRequest
*/
func (a *UserquotasAPIService) UserQuotasRead(ctx context.Context, id string) UserquotasAPIUserQuotasReadRequest {
	return UserquotasAPIUserQuotasReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return UserQuota
func (a *UserquotasAPIService) UserQuotasReadExecute(r UserquotasAPIUserQuotasReadRequest) (*UserQuota, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserQuota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserquotasAPIService.UserQuotasRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/userquotas/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
