/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// DeltaAPIService DeltaAPI service
type DeltaAPIService service

type DeltaAPIDeltaConfigPartialUpdateRequest struct {
	ctx context.Context
	ApiService *DeltaAPIService
	modifyDeltaConfigParams *DeltaConfigPartialUpdateRequest
}

func (r DeltaAPIDeltaConfigPartialUpdateRequest) ModifyDeltaConfigParams(modifyDeltaConfigParams DeltaConfigPartialUpdateRequest) DeltaAPIDeltaConfigPartialUpdateRequest {
	r.modifyDeltaConfigParams = &modifyDeltaConfigParams
	return r
}

func (r DeltaAPIDeltaConfigPartialUpdateRequest) Execute() (*DeltaConfig, *http.Response, error) {
	return r.ApiService.DeltaConfigPartialUpdateExecute(r)
}

/*
DeltaConfigPartialUpdate Update Delta config

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeltaAPIDeltaConfigPartialUpdateRequest
*/
func (a *DeltaAPIService) DeltaConfigPartialUpdate(ctx context.Context) DeltaAPIDeltaConfigPartialUpdateRequest {
	return DeltaAPIDeltaConfigPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeltaConfig
func (a *DeltaAPIService) DeltaConfigPartialUpdateExecute(r DeltaAPIDeltaConfigPartialUpdateRequest) (*DeltaConfig, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeltaConfig
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeltaAPIService.DeltaConfigPartialUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/delta/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modifyDeltaConfigParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeltaAPIDeltaConfigReadRequest struct {
	ctx context.Context
	ApiService *DeltaAPIService
}

func (r DeltaAPIDeltaConfigReadRequest) Execute() (*DeltaConfig, *http.Response, error) {
	return r.ApiService.DeltaConfigReadExecute(r)
}

/*
DeltaConfigRead Returns Delta Storage config.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeltaAPIDeltaConfigReadRequest
*/
func (a *DeltaAPIService) DeltaConfigRead(ctx context.Context) DeltaAPIDeltaConfigReadRequest {
	return DeltaAPIDeltaConfigReadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeltaConfig
func (a *DeltaAPIService) DeltaConfigReadExecute(r DeltaAPIDeltaConfigReadRequest) (*DeltaConfig, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeltaConfig
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeltaAPIService.DeltaConfigRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/delta/config"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DeltaAPIDeltaStorageReadRequest struct {
	ctx context.Context
	ApiService *DeltaAPIService
	sequence *string
	generation *int32
	opType *string
	objectType *string
	objectGuid *string
	objectId *int32
}

// Runtime sequence id for delta. Reset if HA happened. example: 8f021a67-cfd6-4896-ad67-3e32a376c6f4
func (r DeltaAPIDeltaStorageReadRequest) Sequence(sequence string) DeltaAPIDeltaStorageReadRequest {
	r.sequence = &sequence
	return r
}

func (r DeltaAPIDeltaStorageReadRequest) Generation(generation int32) DeltaAPIDeltaStorageReadRequest {
	r.generation = &generation
	return r
}

// Operation type
func (r DeltaAPIDeltaStorageReadRequest) OpType(opType string) DeltaAPIDeltaStorageReadRequest {
	r.opType = &opType
	return r
}

// example: cluster
func (r DeltaAPIDeltaStorageReadRequest) ObjectType(objectType string) DeltaAPIDeltaStorageReadRequest {
	r.objectType = &objectType
	return r
}

func (r DeltaAPIDeltaStorageReadRequest) ObjectGuid(objectGuid string) DeltaAPIDeltaStorageReadRequest {
	r.objectGuid = &objectGuid
	return r
}

func (r DeltaAPIDeltaStorageReadRequest) ObjectId(objectId int32) DeltaAPIDeltaStorageReadRequest {
	r.objectId = &objectId
	return r
}

func (r DeltaAPIDeltaStorageReadRequest) Execute() (*DeltaStorage, *http.Response, error) {
	return r.ApiService.DeltaStorageReadExecute(r)
}

/*
DeltaStorageRead Returns Delta Protocol records.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DeltaAPIDeltaStorageReadRequest
*/
func (a *DeltaAPIService) DeltaStorageRead(ctx context.Context) DeltaAPIDeltaStorageReadRequest {
	return DeltaAPIDeltaStorageReadRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeltaStorage
func (a *DeltaAPIService) DeltaStorageReadExecute(r DeltaAPIDeltaStorageReadRequest) (*DeltaStorage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeltaStorage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeltaAPIService.DeltaStorageRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/delta/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sequence == nil {
		return localVarReturnValue, nil, reportError("sequence is required and must be specified")
	}
	if r.generation == nil {
		return localVarReturnValue, nil, reportError("generation is required and must be specified")
	}
	if *r.generation < 0 {
		return localVarReturnValue, nil, reportError("generation must be greater than 0")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "sequence", r.sequence, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "generation", r.generation, "")
	if r.opType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "op_type", r.opType, "")
	}
	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object__type", r.objectType, "")
	}
	if r.objectGuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object__guid", r.objectGuid, "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object__id", r.objectId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
