/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// MonitorsAPIService MonitorsAPI service
type MonitorsAPIService service

type MonitorsAPIMonitorsAdHocQueryRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
	objectType *string
	fromTime *string
	toTime *string
	timeFrame *string
	objectIds *[]int32
	propList *[]string
	granularity *string
	aggregation *string
	formatData *bool
}

// The type of object to monitor.
func (r MonitorsAPIMonitorsAdHocQueryRequest) ObjectType(objectType string) MonitorsAPIMonitorsAdHocQueryRequest {
	r.objectType = &objectType
	return r
}

// Start time of report. e.g. 2021-01-15T13:41:52Z
func (r MonitorsAPIMonitorsAdHocQueryRequest) FromTime(fromTime string) MonitorsAPIMonitorsAdHocQueryRequest {
	r.fromTime = &fromTime
	return r
}

// End time of report. e.g. 2021-01-15T13:41:52Z
func (r MonitorsAPIMonitorsAdHocQueryRequest) ToTime(toTime string) MonitorsAPIMonitorsAdHocQueryRequest {
	r.toTime = &toTime
	return r
}

// Time frame to report. Specify as an integer followed by &#39;m&#39; (minutes) &#39;h&#39; (hours), &#39;D&#39; (days) ,&#39;W&#39; (weeks) or &#39;M&#39; (months) &#39;Y&#39; (years). e.g. 10m
func (r MonitorsAPIMonitorsAdHocQueryRequest) TimeFrame(timeFrame string) MonitorsAPIMonitorsAdHocQueryRequest {
	r.timeFrame = &timeFrame
	return r
}

// Specify a list of IDs of objects of the specified object_type to filter the report on those specific objects.
func (r MonitorsAPIMonitorsAdHocQueryRequest) ObjectIds(objectIds []int32) MonitorsAPIMonitorsAdHocQueryRequest {
	r.objectIds = &objectIds
	return r
}

// A list of metrics to query. To get the full list of metrics, use GET /metrics/.
func (r MonitorsAPIMonitorsAdHocQueryRequest) PropList(propList []string) MonitorsAPIMonitorsAdHocQueryRequest {
	r.propList = &propList
	return r
}

// Data granularity: seconds (raw), minutes (five minute aggregated samples), hours (hourly aggregated samples), or days (daily aggregated samples)
func (r MonitorsAPIMonitorsAdHocQueryRequest) Granularity(granularity string) MonitorsAPIMonitorsAdHocQueryRequest {
	r.granularity = &granularity
	return r
}

// If granularity is minutes, hours or days, the data is aggregated. This parameter selects which aggregation function to use.
func (r MonitorsAPIMonitorsAdHocQueryRequest) Aggregation(aggregation string) MonitorsAPIMonitorsAdHocQueryRequest {
	r.aggregation = &aggregation
	return r
}

func (r MonitorsAPIMonitorsAdHocQueryRequest) FormatData(formatData bool) MonitorsAPIMonitorsAdHocQueryRequest {
	r.formatData = &formatData
	return r
}

func (r MonitorsAPIMonitorsAdHocQueryRequest) Execute() (*MonitorData, *http.Response, error) {
	return r.ApiService.MonitorsAdHocQueryExecute(r)
}

/*
MonitorsAdHocQuery Query Analytics with Ad Hoc Query Parameters

This endpoint queries VMS for analytics.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MonitorsAPIMonitorsAdHocQueryRequest
*/
func (a *MonitorsAPIService) MonitorsAdHocQuery(ctx context.Context) MonitorsAPIMonitorsAdHocQueryRequest {
	return MonitorsAPIMonitorsAdHocQueryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MonitorData
func (a *MonitorsAPIService) MonitorsAdHocQueryExecute(r MonitorsAPIMonitorsAdHocQueryRequest) (*MonitorData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonitorData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsAdHocQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/ad_hoc_query/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.objectType == nil {
		return localVarReturnValue, nil, reportError("objectType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "object_type", r.objectType, "")
	if r.fromTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_time", r.fromTime, "")
	}
	if r.toTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_time", r.toTime, "")
	}
	if r.timeFrame != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_frame", r.timeFrame, "")
	}
	if r.objectIds != nil {
		t := *r.objectIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "object_ids", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "object_ids", t, "multi")
		}
	}
	if r.propList != nil {
		t := *r.propList
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "prop_list", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "prop_list", t, "multi")
		}
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
	}
	if r.aggregation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", r.aggregation, "")
	}
	if r.formatData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format_data", r.formatData, "")
	} else {
		var defaultValue bool = false
		r.formatData = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MonitorsAPIMonitorsCreateRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
	monitorAddParams *MonitorsCreateRequest
}

func (r MonitorsAPIMonitorsCreateRequest) MonitorAddParams(monitorAddParams MonitorsCreateRequest) MonitorsAPIMonitorsCreateRequest {
	r.monitorAddParams = &monitorAddParams
	return r
}

func (r MonitorsAPIMonitorsCreateRequest) Execute() (*Monitor, *http.Response, error) {
	return r.ApiService.MonitorsCreateExecute(r)
}

/*
MonitorsCreate Create Monitor

This endpoint defines a custom analytics report.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MonitorsAPIMonitorsCreateRequest
*/
func (a *MonitorsAPIService) MonitorsCreate(ctx context.Context) MonitorsAPIMonitorsCreateRequest {
	return MonitorsAPIMonitorsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Monitor
func (a *MonitorsAPIService) MonitorsCreateExecute(r MonitorsAPIMonitorsCreateRequest) (*Monitor, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Monitor
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.monitorAddParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MonitorsAPIMonitorsDeleteRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
	id string
}

func (r MonitorsAPIMonitorsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.MonitorsDeleteExecute(r)
}

/*
MonitorsDelete Delete Monitor (aka Analytics Report)

This endpoint deletes an analytics report.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Monitor ID
 @return MonitorsAPIMonitorsDeleteRequest
*/
func (a *MonitorsAPIService) MonitorsDelete(ctx context.Context, id string) MonitorsAPIMonitorsDeleteRequest {
	return MonitorsAPIMonitorsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *MonitorsAPIService) MonitorsDeleteExecute(r MonitorsAPIMonitorsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MonitorsAPIMonitorsListRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
}

func (r MonitorsAPIMonitorsListRequest) Execute() ([]Monitor, *http.Response, error) {
	return r.ApiService.MonitorsListExecute(r)
}

/*
MonitorsList List Monitors

This endpoint lists properties of predefined analytics reports.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MonitorsAPIMonitorsListRequest
*/
func (a *MonitorsAPIService) MonitorsList(ctx context.Context) MonitorsAPIMonitorsListRequest {
	return MonitorsAPIMonitorsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Monitor
func (a *MonitorsAPIService) MonitorsListExecute(r MonitorsAPIMonitorsListRequest) ([]Monitor, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Monitor
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MonitorsAPIMonitorsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
	id string
	monitorModifyParams *MonitorsPartialUpdateRequest
}

func (r MonitorsAPIMonitorsPartialUpdateRequest) MonitorModifyParams(monitorModifyParams MonitorsPartialUpdateRequest) MonitorsAPIMonitorsPartialUpdateRequest {
	r.monitorModifyParams = &monitorModifyParams
	return r
}

func (r MonitorsAPIMonitorsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.MonitorsPartialUpdateExecute(r)
}

/*
MonitorsPartialUpdate Modify Analytics Report

This endpoint partially modifies the specified monitor.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Monitor ID
 @return MonitorsAPIMonitorsPartialUpdateRequest
*/
func (a *MonitorsAPIService) MonitorsPartialUpdate(ctx context.Context, id string) MonitorsAPIMonitorsPartialUpdateRequest {
	return MonitorsAPIMonitorsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *MonitorsAPIService) MonitorsPartialUpdateExecute(r MonitorsAPIMonitorsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.monitorModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type MonitorsAPIMonitorsQueryRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
	id string
	fromTime *string
	toTime *string
	timeFrame *string
	granularity *string
	aggregation *string
	formatData *bool
}

// Start time for the report. e.g. 2021-01-15T13:41:52Z
func (r MonitorsAPIMonitorsQueryRequest) FromTime(fromTime string) MonitorsAPIMonitorsQueryRequest {
	r.fromTime = &fromTime
	return r
}

// End time for the report. e.g. 2021-01-15T13:41:52Z
func (r MonitorsAPIMonitorsQueryRequest) ToTime(toTime string) MonitorsAPIMonitorsQueryRequest {
	r.toTime = &toTime
	return r
}

// Time frame to report. Specify as an integer followed by &#39;m&#39; (minutes) &#39;h&#39; (hours), &#39;D&#39; (days) ,&#39;W&#39; (weeks) or &#39;M&#39; (months) &#39;Y&#39; (years). e.g. 10m
func (r MonitorsAPIMonitorsQueryRequest) TimeFrame(timeFrame string) MonitorsAPIMonitorsQueryRequest {
	r.timeFrame = &timeFrame
	return r
}

// Data granularity: seconds (raw), minutes (five minute aggregated samples), hours (hourly aggregated samples), or days (daily aggregated samples)
func (r MonitorsAPIMonitorsQueryRequest) Granularity(granularity string) MonitorsAPIMonitorsQueryRequest {
	r.granularity = &granularity
	return r
}

// If granularity is minutes, hours or days, the data is aggregated. This parameter selects which aggregation function to use.
func (r MonitorsAPIMonitorsQueryRequest) Aggregation(aggregation string) MonitorsAPIMonitorsQueryRequest {
	r.aggregation = &aggregation
	return r
}

func (r MonitorsAPIMonitorsQueryRequest) FormatData(formatData bool) MonitorsAPIMonitorsQueryRequest {
	r.formatData = &formatData
	return r
}

func (r MonitorsAPIMonitorsQueryRequest) Execute() (*MonitorData, *http.Response, error) {
	return r.ApiService.MonitorsQueryExecute(r)
}

/*
MonitorsQuery Query Analytics using Defined Analytics Report (aka Monitor)

This endpoint queries for analytics, based on a defined monitor.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Monitor ID, to specify the analytics you want to query.
 @return MonitorsAPIMonitorsQueryRequest
*/
func (a *MonitorsAPIService) MonitorsQuery(ctx context.Context, id string) MonitorsAPIMonitorsQueryRequest {
	return MonitorsAPIMonitorsQueryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return MonitorData
func (a *MonitorsAPIService) MonitorsQueryExecute(r MonitorsAPIMonitorsQueryRequest) (*MonitorData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MonitorData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/{id}/query/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fromTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_time", r.fromTime, "")
	}
	if r.toTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_time", r.toTime, "")
	}
	if r.timeFrame != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "time_frame", r.timeFrame, "")
	}
	if r.granularity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "granularity", r.granularity, "")
	}
	if r.aggregation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "aggregation", r.aggregation, "")
	}
	if r.formatData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format_data", r.formatData, "")
	} else {
		var defaultValue bool = false
		r.formatData = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MonitorsAPIMonitorsReadRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
	id string
}

func (r MonitorsAPIMonitorsReadRequest) Execute() (*Monitor, *http.Response, error) {
	return r.ApiService.MonitorsReadExecute(r)
}

/*
MonitorsRead Return Details of an Analytics Report

This endpoint returns the properties of a specified analytics report.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Monitor ID
 @return MonitorsAPIMonitorsReadRequest
*/
func (a *MonitorsAPIService) MonitorsRead(ctx context.Context, id string) MonitorsAPIMonitorsReadRequest {
	return MonitorsAPIMonitorsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Monitor
func (a *MonitorsAPIService) MonitorsReadExecute(r MonitorsAPIMonitorsReadRequest) (*Monitor, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Monitor
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MonitorsAPIMonitorsTopnRequest struct {
	ctx context.Context
	ApiService *MonitorsAPIService
	key *string
	type_ *string
	count *int32
	timestamp *string
	userTitle *string
	exportTitle *string
	clientTitle *string
}

func (r MonitorsAPIMonitorsTopnRequest) Key(key string) MonitorsAPIMonitorsTopnRequest {
	r.key = &key
	return r
}

func (r MonitorsAPIMonitorsTopnRequest) Type_(type_ string) MonitorsAPIMonitorsTopnRequest {
	r.type_ = &type_
	return r
}

func (r MonitorsAPIMonitorsTopnRequest) Count(count int32) MonitorsAPIMonitorsTopnRequest {
	r.count = &count
	return r
}

func (r MonitorsAPIMonitorsTopnRequest) Timestamp(timestamp string) MonitorsAPIMonitorsTopnRequest {
	r.timestamp = &timestamp
	return r
}

func (r MonitorsAPIMonitorsTopnRequest) UserTitle(userTitle string) MonitorsAPIMonitorsTopnRequest {
	r.userTitle = &userTitle
	return r
}

func (r MonitorsAPIMonitorsTopnRequest) ExportTitle(exportTitle string) MonitorsAPIMonitorsTopnRequest {
	r.exportTitle = &exportTitle
	return r
}

func (r MonitorsAPIMonitorsTopnRequest) ClientTitle(clientTitle string) MonitorsAPIMonitorsTopnRequest {
	r.clientTitle = &clientTitle
	return r
}

func (r MonitorsAPIMonitorsTopnRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.MonitorsTopnExecute(r)
}

/*
MonitorsTopn Query Top Performer Data

This endpoint queries VMS for top performer data. It can return the most active client users, NFS exports and client machines.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MonitorsAPIMonitorsTopnRequest
*/
func (a *MonitorsAPIService) MonitorsTopn(ctx context.Context) MonitorsAPIMonitorsTopnRequest {
	return MonitorsAPIMonitorsTopnRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *MonitorsAPIService) MonitorsTopnExecute(r MonitorsAPIMonitorsTopnRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MonitorsAPIService.MonitorsTopn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/monitors/topn/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.key == nil {
		return localVarReturnValue, nil, reportError("key is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "")
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.timestamp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timestamp", r.timestamp, "")
	}
	if r.userTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "user_title", r.userTitle, "")
	}
	if r.exportTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "export_title", r.exportTitle, "")
	}
	if r.clientTitle != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "client_title", r.clientTitle, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
