/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TablesAPIService TablesAPI service
type TablesAPIService service

type TablesAPITablesAddColumnsRequest struct {
	ctx context.Context
	ApiService *TablesAPIService
	tableAddColumnsParamsBody *TableAddColumnsParams
}

func (r TablesAPITablesAddColumnsRequest) TableAddColumnsParamsBody(tableAddColumnsParamsBody TableAddColumnsParams) TablesAPITablesAddColumnsRequest {
	r.tableAddColumnsParamsBody = &tableAddColumnsParamsBody
	return r
}

func (r TablesAPITablesAddColumnsRequest) Execute() (*http.Response, error) {
	return r.ApiService.TablesAddColumnsExecute(r)
}

/*
TablesAddColumns Add Columns to a Database Table

This endpoint adds Columns to a Database Table.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TablesAPITablesAddColumnsRequest
*/
func (a *TablesAPIService) TablesAddColumns(ctx context.Context) TablesAPITablesAddColumnsRequest {
	return TablesAPITablesAddColumnsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TablesAPIService) TablesAddColumnsExecute(r TablesAPITablesAddColumnsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesAPIService.TablesAddColumns")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/tables/add_columns/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tableAddColumnsParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TablesAPITablesCreateRequest struct {
	ctx context.Context
	ApiService *TablesAPIService
	tableCreateParamsBody *TableCreateParams
}

func (r TablesAPITablesCreateRequest) TableCreateParamsBody(tableCreateParamsBody TableCreateParams) TablesAPITablesCreateRequest {
	r.tableCreateParamsBody = &tableCreateParamsBody
	return r
}

func (r TablesAPITablesCreateRequest) Execute() (*http.Response, error) {
	return r.ApiService.TablesCreateExecute(r)
}

/*
TablesCreate Create a Database Table

This endpoint creates a Database Table

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TablesAPITablesCreateRequest
*/
func (a *TablesAPIService) TablesCreate(ctx context.Context) TablesAPITablesCreateRequest {
	return TablesAPITablesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TablesAPIService) TablesCreateExecute(r TablesAPITablesCreateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesAPIService.TablesCreate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/tables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tableCreateParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TablesAPITablesDeleteRequest struct {
	ctx context.Context
	ApiService *TablesAPIService
	tableDeleteParamsBody *TableDeleteParams
}

func (r TablesAPITablesDeleteRequest) TableDeleteParamsBody(tableDeleteParamsBody TableDeleteParams) TablesAPITablesDeleteRequest {
	r.tableDeleteParamsBody = &tableDeleteParamsBody
	return r
}

func (r TablesAPITablesDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.TablesDeleteExecute(r)
}

/*
TablesDelete Delete a Database Table

This endpoint deletes a Database Table.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TablesAPITablesDeleteRequest
*/
func (a *TablesAPIService) TablesDelete(ctx context.Context) TablesAPITablesDeleteRequest {
	return TablesAPITablesDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TablesAPIService) TablesDeleteExecute(r TablesAPITablesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesAPIService.TablesDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/tables/delete/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tableDeleteParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TablesAPITablesListRequest struct {
	ctx context.Context
	ApiService *TablesAPIService
	databaseName *string
	schemaName *string
	page *int32
	pageSize *int32
	name *string
	nameStartswith *string
	countOnly *bool
	tableNameStartswith *string
}

// Getting list of objects by database_name
func (r TablesAPITablesListRequest) DatabaseName(databaseName string) TablesAPITablesListRequest {
	r.databaseName = &databaseName
	return r
}

// Getting list of objects by schema_name
func (r TablesAPITablesListRequest) SchemaName(schemaName string) TablesAPITablesListRequest {
	r.schemaName = &schemaName
	return r
}

func (r TablesAPITablesListRequest) Page(page int32) TablesAPITablesListRequest {
	r.page = &page
	return r
}

func (r TablesAPITablesListRequest) PageSize(pageSize int32) TablesAPITablesListRequest {
	r.pageSize = &pageSize
	return r
}

// Getting list of objects by exact match
func (r TablesAPITablesListRequest) Name(name string) TablesAPITablesListRequest {
	r.name = &name
	return r
}

// Getting list of objects by prefix match
func (r TablesAPITablesListRequest) NameStartswith(nameStartswith string) TablesAPITablesListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// Whether to only return count of objects
func (r TablesAPITablesListRequest) CountOnly(countOnly bool) TablesAPITablesListRequest {
	r.countOnly = &countOnly
	return r
}

// Getting list of objects starting with by table_name__startswith (deprecated since 5.0)
func (r TablesAPITablesListRequest) TableNameStartswith(tableNameStartswith string) TablesAPITablesListRequest {
	r.tableNameStartswith = &tableNameStartswith
	return r
}

func (r TablesAPITablesListRequest) Execute() ([]Table, *http.Response, error) {
	return r.ApiService.TablesListExecute(r)
}

/*
TablesList List Database Tables

This endpoint lists Database Tables.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TablesAPITablesListRequest
*/
func (a *TablesAPIService) TablesList(ctx context.Context) TablesAPITablesListRequest {
	return TablesAPITablesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Table
func (a *TablesAPIService) TablesListExecute(r TablesAPITablesListRequest) ([]Table, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Table
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesAPIService.TablesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/tables/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseName == nil {
		return localVarReturnValue, nil, reportError("databaseName is required and must be specified")
	}
	if r.schemaName == nil {
		return localVarReturnValue, nil, reportError("schemaName is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	} else {
		var defaultValue int32 = 999
		r.pageSize = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "database_name", r.databaseName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "schema_name", r.schemaName, "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.countOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count_only", r.countOnly, "")
	} else {
		var defaultValue bool = false
		r.countOnly = &defaultValue
	}
	if r.tableNameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "table_name__startswith", r.tableNameStartswith, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TablesAPITablesRenameRequest struct {
	ctx context.Context
	ApiService *TablesAPIService
	tableRenameParamsBody *TableRenameParams
}

func (r TablesAPITablesRenameRequest) TableRenameParamsBody(tableRenameParamsBody TableRenameParams) TablesAPITablesRenameRequest {
	r.tableRenameParamsBody = &tableRenameParamsBody
	return r
}

func (r TablesAPITablesRenameRequest) Execute() (*http.Response, error) {
	return r.ApiService.TablesRenameExecute(r)
}

/*
TablesRename Rename a Database Table

This endpoint renames a Database Table.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TablesAPITablesRenameRequest
*/
func (a *TablesAPIService) TablesRename(ctx context.Context) TablesAPITablesRenameRequest {
	return TablesAPITablesRenameRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *TablesAPIService) TablesRenameExecute(r TablesAPITablesRenameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesAPIService.TablesRename")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/tables/rename/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tableRenameParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TablesAPITablesShowRequest struct {
	ctx context.Context
	ApiService *TablesAPIService
	databaseName *string
	schemaName *string
	name *string
}

// Getting list of objects by database_name
func (r TablesAPITablesShowRequest) DatabaseName(databaseName string) TablesAPITablesShowRequest {
	r.databaseName = &databaseName
	return r
}

// Getting list of objects by schema_name
func (r TablesAPITablesShowRequest) SchemaName(schemaName string) TablesAPITablesShowRequest {
	r.schemaName = &schemaName
	return r
}

// Getting object by exact match
func (r TablesAPITablesShowRequest) Name(name string) TablesAPITablesShowRequest {
	r.name = &name
	return r
}

func (r TablesAPITablesShowRequest) Execute() (*Table, *http.Response, error) {
	return r.ApiService.TablesShowExecute(r)
}

/*
TablesShow Show a Database Table

This endpoint shows a Database Table.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return TablesAPITablesShowRequest
*/
func (a *TablesAPIService) TablesShow(ctx context.Context) TablesAPITablesShowRequest {
	return TablesAPITablesShowRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Table
func (a *TablesAPIService) TablesShowExecute(r TablesAPITablesShowRequest) (*Table, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Table
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TablesAPIService.TablesShow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/tables/show/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseName == nil {
		return localVarReturnValue, nil, reportError("databaseName is required and must be specified")
	}
	if r.schemaName == nil {
		return localVarReturnValue, nil, reportError("schemaName is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "database_name", r.databaseName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "schema_name", r.schemaName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
