/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// S3lifecyclerulesAPIService S3lifecyclerulesAPI service
type S3lifecyclerulesAPIService service

type S3lifecyclerulesAPIS3lifecyclerulesCreateRequest struct {
	ctx context.Context
	ApiService *S3lifecyclerulesAPIService
	s3LifeCycleRuleCreateParams *S3lifecyclerulesCreateRequest
}

func (r S3lifecyclerulesAPIS3lifecyclerulesCreateRequest) S3LifeCycleRuleCreateParams(s3LifeCycleRuleCreateParams S3lifecyclerulesCreateRequest) S3lifecyclerulesAPIS3lifecyclerulesCreateRequest {
	r.s3LifeCycleRuleCreateParams = &s3LifeCycleRuleCreateParams
	return r
}

func (r S3lifecyclerulesAPIS3lifecyclerulesCreateRequest) Execute() (*S3LifeCycleRule, *http.Response, error) {
	return r.ApiService.S3lifecyclerulesCreateExecute(r)
}

/*
S3lifecyclerulesCreate Method for S3lifecyclerulesCreate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return S3lifecyclerulesAPIS3lifecyclerulesCreateRequest
*/
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesCreate(ctx context.Context) S3lifecyclerulesAPIS3lifecyclerulesCreateRequest {
	return S3lifecyclerulesAPIS3lifecyclerulesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return S3LifeCycleRule
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesCreateExecute(r S3lifecyclerulesAPIS3lifecyclerulesCreateRequest) (*S3LifeCycleRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *S3LifeCycleRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3lifecyclerulesAPIService.S3lifecyclerulesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/s3lifecyclerules/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.s3LifeCycleRuleCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type S3lifecyclerulesAPIS3lifecyclerulesDeleteRequest struct {
	ctx context.Context
	ApiService *S3lifecyclerulesAPIService
	id string
}

func (r S3lifecyclerulesAPIS3lifecyclerulesDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.S3lifecyclerulesDeleteExecute(r)
}

/*
S3lifecyclerulesDelete Method for S3lifecyclerulesDelete

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return S3lifecyclerulesAPIS3lifecyclerulesDeleteRequest
*/
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesDelete(ctx context.Context, id string) S3lifecyclerulesAPIS3lifecyclerulesDeleteRequest {
	return S3lifecyclerulesAPIS3lifecyclerulesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesDeleteExecute(r S3lifecyclerulesAPIS3lifecyclerulesDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3lifecyclerulesAPIService.S3lifecyclerulesDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/s3lifecyclerules/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest struct {
	ctx context.Context
	ApiService *S3lifecyclerulesAPIService
	objectName *string
	bucketName *string
}

func (r S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest) ObjectName(objectName string) S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest {
	r.objectName = &objectName
	return r
}

func (r S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest) BucketName(bucketName string) S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest {
	r.bucketName = &bucketName
	return r
}

func (r S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.S3lifecyclerulesGetObjectExpirationExecute(r)
}

/*
S3lifecyclerulesGetObjectExpiration Method for S3lifecyclerulesGetObjectExpiration

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest
*/
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesGetObjectExpiration(ctx context.Context) S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest {
	return S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesGetObjectExpirationExecute(r S3lifecyclerulesAPIS3lifecyclerulesGetObjectExpirationRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3lifecyclerulesAPIService.S3lifecyclerulesGetObjectExpiration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/s3lifecyclerules/get_object_expiration/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.objectName == nil {
		return localVarReturnValue, nil, reportError("objectName is required and must be specified")
	}
	if r.bucketName == nil {
		return localVarReturnValue, nil, reportError("bucketName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "object_name", r.objectName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_name", r.bucketName, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type S3lifecyclerulesAPIS3lifecyclerulesListRequest struct {
	ctx context.Context
	ApiService *S3lifecyclerulesAPIService
	page *string
	pageSize *string
	viewId *string
}

func (r S3lifecyclerulesAPIS3lifecyclerulesListRequest) Page(page string) S3lifecyclerulesAPIS3lifecyclerulesListRequest {
	r.page = &page
	return r
}

func (r S3lifecyclerulesAPIS3lifecyclerulesListRequest) PageSize(pageSize string) S3lifecyclerulesAPIS3lifecyclerulesListRequest {
	r.pageSize = &pageSize
	return r
}

func (r S3lifecyclerulesAPIS3lifecyclerulesListRequest) ViewId(viewId string) S3lifecyclerulesAPIS3lifecyclerulesListRequest {
	r.viewId = &viewId
	return r
}

func (r S3lifecyclerulesAPIS3lifecyclerulesListRequest) Execute() ([]S3LifeCycleRule, *http.Response, error) {
	return r.ApiService.S3lifecyclerulesListExecute(r)
}

/*
S3lifecyclerulesList List S3 life cycle rules

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return S3lifecyclerulesAPIS3lifecyclerulesListRequest
*/
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesList(ctx context.Context) S3lifecyclerulesAPIS3lifecyclerulesListRequest {
	return S3lifecyclerulesAPIS3lifecyclerulesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []S3LifeCycleRule
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesListExecute(r S3lifecyclerulesAPIS3lifecyclerulesListRequest) ([]S3LifeCycleRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []S3LifeCycleRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3lifecyclerulesAPIService.S3lifecyclerulesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/s3lifecyclerules/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	if r.viewId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "view__id", r.viewId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest struct {
	ctx context.Context
	ApiService *S3lifecyclerulesAPIService
	id string
	s3LifeCycleRuleModifyParams *S3lifecyclerulesPartialUpdateRequest
}

func (r S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest) S3LifeCycleRuleModifyParams(s3LifeCycleRuleModifyParams S3lifecyclerulesPartialUpdateRequest) S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest {
	r.s3LifeCycleRuleModifyParams = &s3LifeCycleRuleModifyParams
	return r
}

func (r S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.S3lifecyclerulesPartialUpdateExecute(r)
}

/*
S3lifecyclerulesPartialUpdate Method for S3lifecyclerulesPartialUpdate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest
*/
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesPartialUpdate(ctx context.Context, id string) S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest {
	return S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesPartialUpdateExecute(r S3lifecyclerulesAPIS3lifecyclerulesPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3lifecyclerulesAPIService.S3lifecyclerulesPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/s3lifecyclerules/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.s3LifeCycleRuleModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type S3lifecyclerulesAPIS3lifecyclerulesReadRequest struct {
	ctx context.Context
	ApiService *S3lifecyclerulesAPIService
	id string
}

func (r S3lifecyclerulesAPIS3lifecyclerulesReadRequest) Execute() (*S3LifeCycleRule, *http.Response, error) {
	return r.ApiService.S3lifecyclerulesReadExecute(r)
}

/*
S3lifecyclerulesRead Method for S3lifecyclerulesRead

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return S3lifecyclerulesAPIS3lifecyclerulesReadRequest
*/
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesRead(ctx context.Context, id string) S3lifecyclerulesAPIS3lifecyclerulesReadRequest {
	return S3lifecyclerulesAPIS3lifecyclerulesReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return S3LifeCycleRule
func (a *S3lifecyclerulesAPIService) S3lifecyclerulesReadExecute(r S3lifecyclerulesAPIS3lifecyclerulesReadRequest) (*S3LifeCycleRule, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *S3LifeCycleRule
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "S3lifecyclerulesAPIService.S3lifecyclerulesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/s3lifecyclerules/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
