/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ProjectionsAPIService ProjectionsAPI service
type ProjectionsAPIService service

type ProjectionsAPIProjectionsCreateRequest struct {
	ctx context.Context
	ApiService *ProjectionsAPIService
	projectionCreateParamsBody *ProjectionCreateParams
}

func (r ProjectionsAPIProjectionsCreateRequest) ProjectionCreateParamsBody(projectionCreateParamsBody ProjectionCreateParams) ProjectionsAPIProjectionsCreateRequest {
	r.projectionCreateParamsBody = &projectionCreateParamsBody
	return r
}

func (r ProjectionsAPIProjectionsCreateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProjectionsCreateExecute(r)
}

/*
ProjectionsCreate Create a Database Table Semi-sorted Projection

This endpoint creates a Database Table Semi-sorted Projection

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProjectionsAPIProjectionsCreateRequest
*/
func (a *ProjectionsAPIService) ProjectionsCreate(ctx context.Context) ProjectionsAPIProjectionsCreateRequest {
	return ProjectionsAPIProjectionsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ProjectionsAPIService) ProjectionsCreateExecute(r ProjectionsAPIProjectionsCreateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectionsAPIService.ProjectionsCreate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projections/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectionCreateParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ProjectionsAPIProjectionsDeleteRequest struct {
	ctx context.Context
	ApiService *ProjectionsAPIService
	projectionDeleteParamsBody *ProjectionDeleteParams
}

func (r ProjectionsAPIProjectionsDeleteRequest) ProjectionDeleteParamsBody(projectionDeleteParamsBody ProjectionDeleteParams) ProjectionsAPIProjectionsDeleteRequest {
	r.projectionDeleteParamsBody = &projectionDeleteParamsBody
	return r
}

func (r ProjectionsAPIProjectionsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProjectionsDeleteExecute(r)
}

/*
ProjectionsDelete Delete a Database Table Semi-sorted Projection

This endpoint deletes a Database Table Semi-sorted Projection.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProjectionsAPIProjectionsDeleteRequest
*/
func (a *ProjectionsAPIService) ProjectionsDelete(ctx context.Context) ProjectionsAPIProjectionsDeleteRequest {
	return ProjectionsAPIProjectionsDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ProjectionsAPIService) ProjectionsDeleteExecute(r ProjectionsAPIProjectionsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectionsAPIService.ProjectionsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projections/delete/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectionDeleteParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ProjectionsAPIProjectionsListRequest struct {
	ctx context.Context
	ApiService *ProjectionsAPIService
	databaseName *string
	schemaName *string
	tableName *string
	page *int32
	pageSize *int32
	name *string
	nameStartswith *string
	countOnly *bool
}

// Getting list of objects by database_name
func (r ProjectionsAPIProjectionsListRequest) DatabaseName(databaseName string) ProjectionsAPIProjectionsListRequest {
	r.databaseName = &databaseName
	return r
}

// Getting list of objects by schema_name
func (r ProjectionsAPIProjectionsListRequest) SchemaName(schemaName string) ProjectionsAPIProjectionsListRequest {
	r.schemaName = &schemaName
	return r
}

// Getting list of objects by table_name
func (r ProjectionsAPIProjectionsListRequest) TableName(tableName string) ProjectionsAPIProjectionsListRequest {
	r.tableName = &tableName
	return r
}

func (r ProjectionsAPIProjectionsListRequest) Page(page int32) ProjectionsAPIProjectionsListRequest {
	r.page = &page
	return r
}

func (r ProjectionsAPIProjectionsListRequest) PageSize(pageSize int32) ProjectionsAPIProjectionsListRequest {
	r.pageSize = &pageSize
	return r
}

// Getting list of objects by exact match
func (r ProjectionsAPIProjectionsListRequest) Name(name string) ProjectionsAPIProjectionsListRequest {
	r.name = &name
	return r
}

// Getting list of objects by prefix match
func (r ProjectionsAPIProjectionsListRequest) NameStartswith(nameStartswith string) ProjectionsAPIProjectionsListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// Whether to only return count of objects
func (r ProjectionsAPIProjectionsListRequest) CountOnly(countOnly bool) ProjectionsAPIProjectionsListRequest {
	r.countOnly = &countOnly
	return r
}

func (r ProjectionsAPIProjectionsListRequest) Execute() ([]Projection, *http.Response, error) {
	return r.ApiService.ProjectionsListExecute(r)
}

/*
ProjectionsList List Database Table Semi-sorted Projections

This endpoint lists Database Table Semi-sorted Projections.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProjectionsAPIProjectionsListRequest
*/
func (a *ProjectionsAPIService) ProjectionsList(ctx context.Context) ProjectionsAPIProjectionsListRequest {
	return ProjectionsAPIProjectionsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Projection
func (a *ProjectionsAPIService) ProjectionsListExecute(r ProjectionsAPIProjectionsListRequest) ([]Projection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Projection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectionsAPIService.ProjectionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projections/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseName == nil {
		return localVarReturnValue, nil, reportError("databaseName is required and must be specified")
	}
	if r.schemaName == nil {
		return localVarReturnValue, nil, reportError("schemaName is required and must be specified")
	}
	if r.tableName == nil {
		return localVarReturnValue, nil, reportError("tableName is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	} else {
		var defaultValue int32 = 999
		r.pageSize = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "database_name", r.databaseName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "schema_name", r.schemaName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "table_name", r.tableName, "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.countOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count_only", r.countOnly, "")
	} else {
		var defaultValue bool = false
		r.countOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProjectionsAPIProjectionsRenameRequest struct {
	ctx context.Context
	ApiService *ProjectionsAPIService
	projectionRenameParamsBody *ProjectionRenameParams
}

func (r ProjectionsAPIProjectionsRenameRequest) ProjectionRenameParamsBody(projectionRenameParamsBody ProjectionRenameParams) ProjectionsAPIProjectionsRenameRequest {
	r.projectionRenameParamsBody = &projectionRenameParamsBody
	return r
}

func (r ProjectionsAPIProjectionsRenameRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProjectionsRenameExecute(r)
}

/*
ProjectionsRename Rename a Database Table Semi-sorted Projection

This endpoint renames a Database Table Semi-sorted Projection.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProjectionsAPIProjectionsRenameRequest
*/
func (a *ProjectionsAPIService) ProjectionsRename(ctx context.Context) ProjectionsAPIProjectionsRenameRequest {
	return ProjectionsAPIProjectionsRenameRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ProjectionsAPIService) ProjectionsRenameExecute(r ProjectionsAPIProjectionsRenameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectionsAPIService.ProjectionsRename")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projections/rename/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.projectionRenameParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ProjectionsAPIProjectionsShowRequest struct {
	ctx context.Context
	ApiService *ProjectionsAPIService
	databaseName *string
	schemaName *string
	tableName *string
	name *string
}

// Getting list of objects by database_name
func (r ProjectionsAPIProjectionsShowRequest) DatabaseName(databaseName string) ProjectionsAPIProjectionsShowRequest {
	r.databaseName = &databaseName
	return r
}

// Getting list of objects by schema_name
func (r ProjectionsAPIProjectionsShowRequest) SchemaName(schemaName string) ProjectionsAPIProjectionsShowRequest {
	r.schemaName = &schemaName
	return r
}

// Getting list of objects by table_name
func (r ProjectionsAPIProjectionsShowRequest) TableName(tableName string) ProjectionsAPIProjectionsShowRequest {
	r.tableName = &tableName
	return r
}

// Getting object by exact match
func (r ProjectionsAPIProjectionsShowRequest) Name(name string) ProjectionsAPIProjectionsShowRequest {
	r.name = &name
	return r
}

func (r ProjectionsAPIProjectionsShowRequest) Execute() (*DetailedProjection, *http.Response, error) {
	return r.ApiService.ProjectionsShowExecute(r)
}

/*
ProjectionsShow Show a Database Table Semi-sorted Projection

This endpoint shows a Database Table Semi-sorted Projection.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProjectionsAPIProjectionsShowRequest
*/
func (a *ProjectionsAPIService) ProjectionsShow(ctx context.Context) ProjectionsAPIProjectionsShowRequest {
	return ProjectionsAPIProjectionsShowRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DetailedProjection
func (a *ProjectionsAPIService) ProjectionsShowExecute(r ProjectionsAPIProjectionsShowRequest) (*DetailedProjection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DetailedProjection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProjectionsAPIService.ProjectionsShow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/projections/show/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseName == nil {
		return localVarReturnValue, nil, reportError("databaseName is required and must be specified")
	}
	if r.schemaName == nil {
		return localVarReturnValue, nil, reportError("schemaName is required and must be specified")
	}
	if r.tableName == nil {
		return localVarReturnValue, nil, reportError("tableName is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "database_name", r.databaseName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "schema_name", r.schemaName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "table_name", r.tableName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
