/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ViewsAPIService ViewsAPI service
type ViewsAPIService service

type ViewsAPICheckPermissionsTemplatesRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	id string
	viewsCheckPermissionsTemplatesParams *CheckPermissionsTemplatesRequest
}

func (r ViewsAPICheckPermissionsTemplatesRequest) ViewsCheckPermissionsTemplatesParams(viewsCheckPermissionsTemplatesParams CheckPermissionsTemplatesRequest) ViewsAPICheckPermissionsTemplatesRequest {
	r.viewsCheckPermissionsTemplatesParams = &viewsCheckPermissionsTemplatesParams
	return r
}

func (r ViewsAPICheckPermissionsTemplatesRequest) Execute() (*ViewsCheckPermissionsTemplatesResponse, *http.Response, error) {
	return r.ApiService.CheckPermissionsTemplatesExecute(r)
}

/*
CheckPermissionsTemplates Check permissions templates

This endpoint checks provided dir and file template for bulk permission update.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id View ID
 @return ViewsAPICheckPermissionsTemplatesRequest
*/
func (a *ViewsAPIService) CheckPermissionsTemplates(ctx context.Context, id string) ViewsAPICheckPermissionsTemplatesRequest {
	return ViewsAPICheckPermissionsTemplatesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ViewsCheckPermissionsTemplatesResponse
func (a *ViewsAPIService) CheckPermissionsTemplatesExecute(r ViewsAPICheckPermissionsTemplatesRequest) (*ViewsCheckPermissionsTemplatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ViewsCheckPermissionsTemplatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.CheckPermissionsTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/{id}/check_permissions_templates/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.viewsCheckPermissionsTemplatesParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPICloseSmbHandleRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	filePath *string
	sessionId *string
	sessionHandleUniqueId *string
	tenantGuid *string
}

// File path
func (r ViewsAPICloseSmbHandleRequest) FilePath(filePath string) ViewsAPICloseSmbHandleRequest {
	r.filePath = &filePath
	return r
}

// Session ID
func (r ViewsAPICloseSmbHandleRequest) SessionId(sessionId string) ViewsAPICloseSmbHandleRequest {
	r.sessionId = &sessionId
	return r
}

// Handle ID
func (r ViewsAPICloseSmbHandleRequest) SessionHandleUniqueId(sessionHandleUniqueId string) ViewsAPICloseSmbHandleRequest {
	r.sessionHandleUniqueId = &sessionHandleUniqueId
	return r
}

// Tenant GUID
func (r ViewsAPICloseSmbHandleRequest) TenantGuid(tenantGuid string) ViewsAPICloseSmbHandleRequest {
	r.tenantGuid = &tenantGuid
	return r
}

func (r ViewsAPICloseSmbHandleRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CloseSmbHandleExecute(r)
}

/*
CloseSmbHandle Close open SMB filehandles

This endpoint closes open smb filehandles.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ViewsAPICloseSmbHandleRequest
*/
func (a *ViewsAPIService) CloseSmbHandle(ctx context.Context) ViewsAPICloseSmbHandleRequest {
	return ViewsAPICloseSmbHandleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ViewsAPIService) CloseSmbHandleExecute(r ViewsAPICloseSmbHandleRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.CloseSmbHandle")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/close_smb_handle/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filePath == nil {
		return localVarReturnValue, nil, reportError("filePath is required and must be specified")
	}
	if r.sessionId == nil {
		return localVarReturnValue, nil, reportError("sessionId is required and must be specified")
	}
	if r.sessionHandleUniqueId == nil {
		return localVarReturnValue, nil, reportError("sessionHandleUniqueId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "file_path", r.filePath, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "session_handle_unique_id", r.sessionHandleUniqueId, "")
	if r.tenantGuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_guid", r.tenantGuid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPIListOpenSmbHandlesRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	filePath *string
	tenantGuid *string
}

// File path
func (r ViewsAPIListOpenSmbHandlesRequest) FilePath(filePath string) ViewsAPIListOpenSmbHandlesRequest {
	r.filePath = &filePath
	return r
}

// Tenant GUID
func (r ViewsAPIListOpenSmbHandlesRequest) TenantGuid(tenantGuid string) ViewsAPIListOpenSmbHandlesRequest {
	r.tenantGuid = &tenantGuid
	return r
}

func (r ViewsAPIListOpenSmbHandlesRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ListOpenSmbHandlesExecute(r)
}

/*
ListOpenSmbHandles Query open SMB filehandles

This endpoint queries open smb filehandles.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ViewsAPIListOpenSmbHandlesRequest
*/
func (a *ViewsAPIService) ListOpenSmbHandles(ctx context.Context) ViewsAPIListOpenSmbHandlesRequest {
	return ViewsAPIListOpenSmbHandlesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ViewsAPIService) ListOpenSmbHandlesExecute(r ViewsAPIListOpenSmbHandlesRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ListOpenSmbHandles")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/list_open_smb_handles/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filePath == nil {
		return localVarReturnValue, nil, reportError("filePath is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "file_path", r.filePath, "")
	if r.tenantGuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_guid", r.tenantGuid, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPIListSeamlessPeersRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	filePath *string
	tenantGuid *string
}

// File path
func (r ViewsAPIListSeamlessPeersRequest) FilePath(filePath string) ViewsAPIListSeamlessPeersRequest {
	r.filePath = &filePath
	return r
}

// Tenant GUID
func (r ViewsAPIListSeamlessPeersRequest) TenantGuid(tenantGuid string) ViewsAPIListSeamlessPeersRequest {
	r.tenantGuid = &tenantGuid
	return r
}

func (r ViewsAPIListSeamlessPeersRequest) Execute() ([]SeamlessPeer, *http.Response, error) {
	return r.ApiService.ListSeamlessPeersExecute(r)
}

/*
ListSeamlessPeers Get a list of available seamless peers

This endpoint lists available seamless peers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ViewsAPIListSeamlessPeersRequest
*/
func (a *ViewsAPIService) ListSeamlessPeers(ctx context.Context) ViewsAPIListSeamlessPeersRequest {
	return ViewsAPIListSeamlessPeersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SeamlessPeer
func (a *ViewsAPIService) ListSeamlessPeersExecute(r ViewsAPIListSeamlessPeersRequest) ([]SeamlessPeer, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SeamlessPeer
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ListSeamlessPeers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/list_seamless_peers/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filePath == nil {
		return localVarReturnValue, nil, reportError("filePath is required and must be specified")
	}
	if r.tenantGuid == nil {
		return localVarReturnValue, nil, reportError("tenantGuid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "file_path", r.filePath, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_guid", r.tenantGuid, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPIStartPermissionsRepairRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	id string
	permissionsRepairParams *StartPermissionsRepairRequest
}

func (r ViewsAPIStartPermissionsRepairRequest) PermissionsRepairParams(permissionsRepairParams StartPermissionsRepairRequest) ViewsAPIStartPermissionsRepairRequest {
	r.permissionsRepairParams = &permissionsRepairParams
	return r
}

func (r ViewsAPIStartPermissionsRepairRequest) Execute() (*AsyncTaskInResponse, *http.Response, error) {
	return r.ApiService.StartPermissionsRepairExecute(r)
}

/*
StartPermissionsRepair Start bulk permission update

This endpoint starts bulk permission update.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id View ID
 @return ViewsAPIStartPermissionsRepairRequest
*/
func (a *ViewsAPIService) StartPermissionsRepair(ctx context.Context, id string) ViewsAPIStartPermissionsRepairRequest {
	return ViewsAPIStartPermissionsRepairRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AsyncTaskInResponse
func (a *ViewsAPIService) StartPermissionsRepairExecute(r ViewsAPIStartPermissionsRepairRequest) (*AsyncTaskInResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncTaskInResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.StartPermissionsRepair")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/{id}/permissions_repair/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.permissionsRepairParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPIStopPermissionsRepairRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	id string
}

func (r ViewsAPIStopPermissionsRepairRequest) Execute() (*http.Response, error) {
	return r.ApiService.StopPermissionsRepairExecute(r)
}

/*
StopPermissionsRepair Stop bulk permission update

This endpoint stops bulk permission update.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id View ID
 @return ViewsAPIStopPermissionsRepairRequest
*/
func (a *ViewsAPIService) StopPermissionsRepair(ctx context.Context, id string) ViewsAPIStopPermissionsRepairRequest {
	return ViewsAPIStopPermissionsRepairRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ViewsAPIService) StopPermissionsRepairExecute(r ViewsAPIStopPermissionsRepairRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.StopPermissionsRepair")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/{id}/permissions_repair/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ViewsAPIViewsCreateRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	viewCreateParams *ViewsCreateRequest
}

func (r ViewsAPIViewsCreateRequest) ViewCreateParams(viewCreateParams ViewsCreateRequest) ViewsAPIViewsCreateRequest {
	r.viewCreateParams = &viewCreateParams
	return r
}

func (r ViewsAPIViewsCreateRequest) Execute() (*View, *http.Response, error) {
	return r.ApiService.ViewsCreateExecute(r)
}

/*
ViewsCreate Create View

This endpoint creates a view.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ViewsAPIViewsCreateRequest
*/
func (a *ViewsAPIService) ViewsCreate(ctx context.Context) ViewsAPIViewsCreateRequest {
	return ViewsAPIViewsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return View
func (a *ViewsAPIService) ViewsCreateExecute(r ViewsAPIViewsCreateRequest) (*View, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *View
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ViewsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.viewCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPIViewsDeleteRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	id string
}

func (r ViewsAPIViewsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ViewsDeleteExecute(r)
}

/*
ViewsDelete Delete View

This endpoint deletes a view.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id View ID
 @return ViewsAPIViewsDeleteRequest
*/
func (a *ViewsAPIService) ViewsDelete(ctx context.Context, id string) ViewsAPIViewsDeleteRequest {
	return ViewsAPIViewsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ViewsAPIService) ViewsDeleteExecute(r ViewsAPIViewsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ViewsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ViewsAPIViewsListRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	page *int32
	pageSize *int32
	name *string
	path *string
	alias *string
	bucket *string
	share *string
	policyName *string
	policyId *string
	clusterName *string
	clusterId *string
	tenantId *int32
	tenantNameIcontains *string
}

func (r ViewsAPIViewsListRequest) Page(page int32) ViewsAPIViewsListRequest {
	r.page = &page
	return r
}

func (r ViewsAPIViewsListRequest) PageSize(pageSize int32) ViewsAPIViewsListRequest {
	r.pageSize = &pageSize
	return r
}

// Filter by View name
func (r ViewsAPIViewsListRequest) Name(name string) ViewsAPIViewsListRequest {
	r.name = &name
	return r
}

// Filter by Element Store path
func (r ViewsAPIViewsListRequest) Path(path string) ViewsAPIViewsListRequest {
	r.path = &path
	return r
}

// Filter by NFS export alias
func (r ViewsAPIViewsListRequest) Alias(alias string) ViewsAPIViewsListRequest {
	r.alias = &alias
	return r
}

func (r ViewsAPIViewsListRequest) Bucket(bucket string) ViewsAPIViewsListRequest {
	r.bucket = &bucket
	return r
}

// Filter by share name
func (r ViewsAPIViewsListRequest) Share(share string) ViewsAPIViewsListRequest {
	r.share = &share
	return r
}

// Filter by view policy name
func (r ViewsAPIViewsListRequest) PolicyName(policyName string) ViewsAPIViewsListRequest {
	r.policyName = &policyName
	return r
}

// Filter by view policy ID
func (r ViewsAPIViewsListRequest) PolicyId(policyId string) ViewsAPIViewsListRequest {
	r.policyId = &policyId
	return r
}

func (r ViewsAPIViewsListRequest) ClusterName(clusterName string) ViewsAPIViewsListRequest {
	r.clusterName = &clusterName
	return r
}

func (r ViewsAPIViewsListRequest) ClusterId(clusterId string) ViewsAPIViewsListRequest {
	r.clusterId = &clusterId
	return r
}

// Tenant id to filter by.
func (r ViewsAPIViewsListRequest) TenantId(tenantId int32) ViewsAPIViewsListRequest {
	r.tenantId = &tenantId
	return r
}

// Tenant name to filter by
func (r ViewsAPIViewsListRequest) TenantNameIcontains(tenantNameIcontains string) ViewsAPIViewsListRequest {
	r.tenantNameIcontains = &tenantNameIcontains
	return r
}

func (r ViewsAPIViewsListRequest) Execute() ([]View, *http.Response, error) {
	return r.ApiService.ViewsListExecute(r)
}

/*
ViewsList List Views

This endpoint lists views, with optional filtering

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ViewsAPIViewsListRequest
*/
func (a *ViewsAPIService) ViewsList(ctx context.Context) ViewsAPIViewsListRequest {
	return ViewsAPIViewsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []View
func (a *ViewsAPIService) ViewsListExecute(r ViewsAPIViewsListRequest) ([]View, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []View
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ViewsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "")
	}
	if r.alias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alias", r.alias, "")
	}
	if r.bucket != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket", r.bucket, "")
	}
	if r.share != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "share", r.share, "")
	}
	if r.policyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy__name", r.policyName, "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy__id", r.policyId, "")
	}
	if r.clusterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__name", r.clusterName, "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__id", r.clusterId, "")
	}
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "")
	}
	if r.tenantNameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_name__icontains", r.tenantNameIcontains, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPIViewsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	id string
	viewModifyParams *ViewsPartialUpdateRequest
}

func (r ViewsAPIViewsPartialUpdateRequest) ViewModifyParams(viewModifyParams ViewsPartialUpdateRequest) ViewsAPIViewsPartialUpdateRequest {
	r.viewModifyParams = &viewModifyParams
	return r
}

func (r ViewsAPIViewsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ViewsPartialUpdateExecute(r)
}

/*
ViewsPartialUpdate Modify a View

This endpoint modifies a view.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id View ID
 @return ViewsAPIViewsPartialUpdateRequest
*/
func (a *ViewsAPIService) ViewsPartialUpdate(ctx context.Context, id string) ViewsAPIViewsPartialUpdateRequest {
	return ViewsAPIViewsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ViewsAPIService) ViewsPartialUpdateExecute(r ViewsAPIViewsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ViewsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.viewModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ViewsAPIViewsReadRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	id string
}

func (r ViewsAPIViewsReadRequest) Execute() (*View, *http.Response, error) {
	return r.ApiService.ViewsReadExecute(r)
}

/*
ViewsRead Return Details of a View

This endpoint returns details of a view.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the view to show
 @return ViewsAPIViewsReadRequest
*/
func (a *ViewsAPIService) ViewsRead(ctx context.Context, id string) ViewsAPIViewsReadRequest {
	return ViewsAPIViewsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return View
func (a *ViewsAPIService) ViewsReadExecute(r ViewsAPIViewsReadRequest) (*View, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *View
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ViewsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ViewsAPIViewsUpdateRequest struct {
	ctx context.Context
	ApiService *ViewsAPIService
	id string
	data *ViewsUpdateRequest
}

func (r ViewsAPIViewsUpdateRequest) Data(data ViewsUpdateRequest) ViewsAPIViewsUpdateRequest {
	r.data = &data
	return r
}

func (r ViewsAPIViewsUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ViewsUpdateExecute(r)
}

/*
ViewsUpdate Modify View.

This endpoint modifies a view.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id View ID
 @return ViewsAPIViewsUpdateRequest
*/
func (a *ViewsAPIService) ViewsUpdate(ctx context.Context, id string) ViewsAPIViewsUpdateRequest {
	return ViewsAPIViewsUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ViewsAPIService) ViewsUpdateExecute(r ViewsAPIViewsUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ViewsAPIService.ViewsUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/views/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.data
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
