/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ReplicationstreamsAPIService ReplicationstreamsAPI service
type ReplicationstreamsAPIService service

type ReplicationstreamsAPIReplicationstreamsCreateRequest struct {
	ctx context.Context
	ApiService *ReplicationstreamsAPIService
	replicationStreamCreateParams *ReplicationstreamsCreateRequest
}

func (r ReplicationstreamsAPIReplicationstreamsCreateRequest) ReplicationStreamCreateParams(replicationStreamCreateParams ReplicationstreamsCreateRequest) ReplicationstreamsAPIReplicationstreamsCreateRequest {
	r.replicationStreamCreateParams = &replicationStreamCreateParams
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsCreateRequest) Execute() (*ReplicationStream, *http.Response, error) {
	return r.ApiService.ReplicationstreamsCreateExecute(r)
}

/*
ReplicationstreamsCreate Create Replication Stream (deprecated from VAST Cluster 3.4)

This endpoint creates a replication stream. It is deprecated from VAST Cluster 3.4. Use /protectedpaths/.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ReplicationstreamsAPIReplicationstreamsCreateRequest
*/
func (a *ReplicationstreamsAPIService) ReplicationstreamsCreate(ctx context.Context) ReplicationstreamsAPIReplicationstreamsCreateRequest {
	return ReplicationstreamsAPIReplicationstreamsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReplicationStream
func (a *ReplicationstreamsAPIService) ReplicationstreamsCreateExecute(r ReplicationstreamsAPIReplicationstreamsCreateRequest) (*ReplicationStream, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReplicationStream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationstreamsAPIService.ReplicationstreamsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationstreams/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationStreamCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReplicationstreamsAPIReplicationstreamsDeleteRequest struct {
	ctx context.Context
	ApiService *ReplicationstreamsAPIService
	id string
}

func (r ReplicationstreamsAPIReplicationstreamsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationstreamsDeleteExecute(r)
}

/*
ReplicationstreamsDelete Delete a Replication Stream (deprecated from VAST Cluster 3.4)

This endpoint deletes a replication stream. It is deprecated from VAST Cluster 3.4. Use /protectedpaths/.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ReplicationstreamsAPIReplicationstreamsDeleteRequest
*/
func (a *ReplicationstreamsAPIService) ReplicationstreamsDelete(ctx context.Context, id string) ReplicationstreamsAPIReplicationstreamsDeleteRequest {
	return ReplicationstreamsAPIReplicationstreamsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ReplicationstreamsAPIService) ReplicationstreamsDeleteExecute(r ReplicationstreamsAPIReplicationstreamsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationstreamsAPIService.ReplicationstreamsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationstreams/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ReplicationstreamsAPIReplicationstreamsListRequest struct {
	ctx context.Context
	ApiService *ReplicationstreamsAPIService
	page *int32
	pageSize *int32
	state *string
	sourceDir *string
	replicationPolicyName *string
	name *string
	enabled *string
	ordering *string
}

func (r ReplicationstreamsAPIReplicationstreamsListRequest) Page(page int32) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.page = &page
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsListRequest) PageSize(pageSize int32) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsListRequest) State(state string) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.state = &state
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsListRequest) SourceDir(sourceDir string) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.sourceDir = &sourceDir
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsListRequest) ReplicationPolicyName(replicationPolicyName string) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.replicationPolicyName = &replicationPolicyName
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsListRequest) Name(name string) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.name = &name
	return r
}

// start/pause replication stream
func (r ReplicationstreamsAPIReplicationstreamsListRequest) Enabled(enabled string) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.enabled = &enabled
	return r
}

// orders by some field
func (r ReplicationstreamsAPIReplicationstreamsListRequest) Ordering(ordering string) ReplicationstreamsAPIReplicationstreamsListRequest {
	r.ordering = &ordering
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsListRequest) Execute() ([]ReplicationStream, *http.Response, error) {
	return r.ApiService.ReplicationstreamsListExecute(r)
}

/*
ReplicationstreamsList List Replication Streams (deprecated from VAST Cluster 3.4)

This endpoint presents the replication streams. It is deprecated from VAST Cluster 3.4. Use /protectedpaths/.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ReplicationstreamsAPIReplicationstreamsListRequest
*/
func (a *ReplicationstreamsAPIService) ReplicationstreamsList(ctx context.Context) ReplicationstreamsAPIReplicationstreamsListRequest {
	return ReplicationstreamsAPIReplicationstreamsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ReplicationStream
func (a *ReplicationstreamsAPIService) ReplicationstreamsListExecute(r ReplicationstreamsAPIReplicationstreamsListRequest) ([]ReplicationStream, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ReplicationStream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationstreamsAPIService.ReplicationstreamsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationstreams/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "")
	}
	if r.sourceDir != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source_dir", r.sourceDir, "")
	}
	if r.replicationPolicyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "replication_policy__name", r.replicationPolicyName, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.enabled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enabled", r.enabled, "")
	}
	if r.ordering != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ordering", r.ordering, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *ReplicationstreamsAPIService
	id string
	replicationStreamModifyParams *ReplicationstreamsPartialUpdateRequest
}

func (r ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest) ReplicationStreamModifyParams(replicationStreamModifyParams ReplicationstreamsPartialUpdateRequest) ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest {
	r.replicationStreamModifyParams = &replicationStreamModifyParams
	return r
}

func (r ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationstreamsPartialUpdateExecute(r)
}

/*
ReplicationstreamsPartialUpdate Modify a Replication Stream (deprecated from VAST Cluster 3.4)

This endpoint modifies a replication stream. It is deprecated from VAST Cluster 3.4. Use /protectedpaths/.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest
*/
func (a *ReplicationstreamsAPIService) ReplicationstreamsPartialUpdate(ctx context.Context, id string) ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest {
	return ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ReplicationstreamsAPIService) ReplicationstreamsPartialUpdateExecute(r ReplicationstreamsAPIReplicationstreamsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationstreamsAPIService.ReplicationstreamsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationstreams/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationStreamModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ReplicationstreamsAPIReplicationstreamsReadRequest struct {
	ctx context.Context
	ApiService *ReplicationstreamsAPIService
	id string
}

func (r ReplicationstreamsAPIReplicationstreamsReadRequest) Execute() (*ReplicationStream, *http.Response, error) {
	return r.ApiService.ReplicationstreamsReadExecute(r)
}

/*
ReplicationstreamsRead Return Details of a Replication Stream (deprecated from VAST Cluster 3.4)

This endpoint returns details of a replication stream. It is deprecated from VAST Cluster 3.4. Use /protectedpaths/.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id index of replication stream
 @return ReplicationstreamsAPIReplicationstreamsReadRequest
*/
func (a *ReplicationstreamsAPIService) ReplicationstreamsRead(ctx context.Context, id string) ReplicationstreamsAPIReplicationstreamsReadRequest {
	return ReplicationstreamsAPIReplicationstreamsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ReplicationStream
func (a *ReplicationstreamsAPIService) ReplicationstreamsReadExecute(r ReplicationstreamsAPIReplicationstreamsReadRequest) (*ReplicationStream, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReplicationStream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationstreamsAPIService.ReplicationstreamsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationstreams/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
