/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VippoolsAPIService VippoolsAPI service
type VippoolsAPIService service

type VippoolsAPIVippoolsCreateRequest struct {
	ctx context.Context
	ApiService *VippoolsAPIService
	vippoolCreateParams *VippoolsCreateRequest
}

func (r VippoolsAPIVippoolsCreateRequest) VippoolCreateParams(vippoolCreateParams VippoolsCreateRequest) VippoolsAPIVippoolsCreateRequest {
	r.vippoolCreateParams = &vippoolCreateParams
	return r
}

func (r VippoolsAPIVippoolsCreateRequest) Execute() (*VIPPool, *http.Response, error) {
	return r.ApiService.VippoolsCreateExecute(r)
}

/*
VippoolsCreate Create VIP Pool

This endpoint creates a VIP pool for client access or for native replication.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return VippoolsAPIVippoolsCreateRequest
*/
func (a *VippoolsAPIService) VippoolsCreate(ctx context.Context) VippoolsAPIVippoolsCreateRequest {
	return VippoolsAPIVippoolsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return VIPPool
func (a *VippoolsAPIService) VippoolsCreateExecute(r VippoolsAPIVippoolsCreateRequest) (*VIPPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VIPPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VippoolsAPIService.VippoolsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vippools/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vippoolCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VippoolsAPIVippoolsDeleteRequest struct {
	ctx context.Context
	ApiService *VippoolsAPIService
	id int32
}

func (r VippoolsAPIVippoolsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.VippoolsDeleteExecute(r)
}

/*
VippoolsDelete Delete VIP Pool

This endpoint deletes a VIP pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id VIP Pool ID
 @return VippoolsAPIVippoolsDeleteRequest
*/
func (a *VippoolsAPIService) VippoolsDelete(ctx context.Context, id int32) VippoolsAPIVippoolsDeleteRequest {
	return VippoolsAPIVippoolsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *VippoolsAPIService) VippoolsDeleteExecute(r VippoolsAPIVippoolsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VippoolsAPIService.VippoolsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vippools/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 1 {
		return nil, reportError("id must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VippoolsAPIVippoolsListRequest struct {
	ctx context.Context
	ApiService *VippoolsAPIService
	page *string
	startIp *string
	endIp *string
	clusterName *string
	clusterId *int32
	portMembership *int32
	cnodeIdsIcontains *[]int32
	tenantId *int32
	tenantNameIcontains *string
	servesTenant *string
}

func (r VippoolsAPIVippoolsListRequest) Page(page string) VippoolsAPIVippoolsListRequest {
	r.page = &page
	return r
}

// Filter by start IP of VIP pool range
func (r VippoolsAPIVippoolsListRequest) StartIp(startIp string) VippoolsAPIVippoolsListRequest {
	r.startIp = &startIp
	return r
}

// Filter by end IP of VIP pool range
func (r VippoolsAPIVippoolsListRequest) EndIp(endIp string) VippoolsAPIVippoolsListRequest {
	r.endIp = &endIp
	return r
}

func (r VippoolsAPIVippoolsListRequest) ClusterName(clusterName string) VippoolsAPIVippoolsListRequest {
	r.clusterName = &clusterName
	return r
}

func (r VippoolsAPIVippoolsListRequest) ClusterId(clusterId int32) VippoolsAPIVippoolsListRequest {
	r.clusterId = &clusterId
	return r
}

func (r VippoolsAPIVippoolsListRequest) PortMembership(portMembership int32) VippoolsAPIVippoolsListRequest {
	r.portMembership = &portMembership
	return r
}

func (r VippoolsAPIVippoolsListRequest) CnodeIdsIcontains(cnodeIdsIcontains []int32) VippoolsAPIVippoolsListRequest {
	r.cnodeIdsIcontains = &cnodeIdsIcontains
	return r
}

// Tenant id to filter by.
func (r VippoolsAPIVippoolsListRequest) TenantId(tenantId int32) VippoolsAPIVippoolsListRequest {
	r.tenantId = &tenantId
	return r
}

// Tenant name to filter by
func (r VippoolsAPIVippoolsListRequest) TenantNameIcontains(tenantNameIcontains string) VippoolsAPIVippoolsListRequest {
	r.tenantNameIcontains = &tenantNameIcontains
	return r
}

// Filter by served tenants. Accepts Tenant ID or \&quot;all\&quot;.
func (r VippoolsAPIVippoolsListRequest) ServesTenant(servesTenant string) VippoolsAPIVippoolsListRequest {
	r.servesTenant = &servesTenant
	return r
}

func (r VippoolsAPIVippoolsListRequest) Execute() ([]VIPPool, *http.Response, error) {
	return r.ApiService.VippoolsListExecute(r)
}

/*
VippoolsList  List VIP Pools

This endpoint lists VIP pools.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return VippoolsAPIVippoolsListRequest
*/
func (a *VippoolsAPIService) VippoolsList(ctx context.Context) VippoolsAPIVippoolsListRequest {
	return VippoolsAPIVippoolsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []VIPPool
func (a *VippoolsAPIService) VippoolsListExecute(r VippoolsAPIVippoolsListRequest) ([]VIPPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []VIPPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VippoolsAPIService.VippoolsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vippools/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.startIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_ip", r.startIp, "")
	}
	if r.endIp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_ip", r.endIp, "")
	}
	if r.clusterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__name", r.clusterName, "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__id", r.clusterId, "")
	}
	if r.portMembership != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "port_membership", r.portMembership, "")
	}
	if r.cnodeIdsIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cnode_ids__icontains", r.cnodeIdsIcontains, "csv")
	}
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "")
	}
	if r.tenantNameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_name__icontains", r.tenantNameIcontains, "")
	}
	if r.servesTenant != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serves_tenant", r.servesTenant, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VippoolsAPIVippoolsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *VippoolsAPIService
	id int32
	vIPPoolModifyParams *VippoolsPartialUpdateRequest
}

func (r VippoolsAPIVippoolsPartialUpdateRequest) VIPPoolModifyParams(vIPPoolModifyParams VippoolsPartialUpdateRequest) VippoolsAPIVippoolsPartialUpdateRequest {
	r.vIPPoolModifyParams = &vIPPoolModifyParams
	return r
}

func (r VippoolsAPIVippoolsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.VippoolsPartialUpdateExecute(r)
}

/*
VippoolsPartialUpdate Modify VIP Pool

This endpoint modifies a VIP pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id VIP Pool ID
 @return VippoolsAPIVippoolsPartialUpdateRequest
*/
func (a *VippoolsAPIService) VippoolsPartialUpdate(ctx context.Context, id int32) VippoolsAPIVippoolsPartialUpdateRequest {
	return VippoolsAPIVippoolsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *VippoolsAPIService) VippoolsPartialUpdateExecute(r VippoolsAPIVippoolsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VippoolsAPIService.VippoolsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vippools/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 1 {
		return nil, reportError("id must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.vIPPoolModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type VippoolsAPIVippoolsReadRequest struct {
	ctx context.Context
	ApiService *VippoolsAPIService
	id int32
}

func (r VippoolsAPIVippoolsReadRequest) Execute() (*VIPPool, *http.Response, error) {
	return r.ApiService.VippoolsReadExecute(r)
}

/*
VippoolsRead Return Details of a VIP Pool

This endpoint returns details of a VIP pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id VIP Pool ID
 @return VippoolsAPIVippoolsReadRequest
*/
func (a *VippoolsAPIService) VippoolsRead(ctx context.Context, id int32) VippoolsAPIVippoolsReadRequest {
	return VippoolsAPIVippoolsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return VIPPool
func (a *VippoolsAPIService) VippoolsReadExecute(r VippoolsAPIVippoolsReadRequest) (*VIPPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VIPPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VippoolsAPIService.VippoolsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vippools/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id < 1 {
		return localVarReturnValue, nil, reportError("id must be greater than 1")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
