/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ColumnsAPIService ColumnsAPI service
type ColumnsAPIService service

type ColumnsAPIColumnsDeleteRequest struct {
	ctx context.Context
	ApiService *ColumnsAPIService
	columnDeleteParamsBody *ColumnDeleteParams
}

func (r ColumnsAPIColumnsDeleteRequest) ColumnDeleteParamsBody(columnDeleteParamsBody ColumnDeleteParams) ColumnsAPIColumnsDeleteRequest {
	r.columnDeleteParamsBody = &columnDeleteParamsBody
	return r
}

func (r ColumnsAPIColumnsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ColumnsDeleteExecute(r)
}

/*
ColumnsDelete Delete a Database Table Column

This endpoint deletes a Database Table Column.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ColumnsAPIColumnsDeleteRequest
*/
func (a *ColumnsAPIService) ColumnsDelete(ctx context.Context) ColumnsAPIColumnsDeleteRequest {
	return ColumnsAPIColumnsDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ColumnsAPIService) ColumnsDeleteExecute(r ColumnsAPIColumnsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ColumnsAPIService.ColumnsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/columns/delete/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.columnDeleteParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ColumnsAPIColumnsListRequest struct {
	ctx context.Context
	ApiService *ColumnsAPIService
	databaseName *string
	schemaName *string
	tableName *string
	page *int32
	pageSize *int32
	name *string
	nameStartswith *string
	countOnly *bool
}

// Getting list of objects by database_name
func (r ColumnsAPIColumnsListRequest) DatabaseName(databaseName string) ColumnsAPIColumnsListRequest {
	r.databaseName = &databaseName
	return r
}

// Getting list of objects by schema_name
func (r ColumnsAPIColumnsListRequest) SchemaName(schemaName string) ColumnsAPIColumnsListRequest {
	r.schemaName = &schemaName
	return r
}

// Getting list of objects by table_name
func (r ColumnsAPIColumnsListRequest) TableName(tableName string) ColumnsAPIColumnsListRequest {
	r.tableName = &tableName
	return r
}

func (r ColumnsAPIColumnsListRequest) Page(page int32) ColumnsAPIColumnsListRequest {
	r.page = &page
	return r
}

func (r ColumnsAPIColumnsListRequest) PageSize(pageSize int32) ColumnsAPIColumnsListRequest {
	r.pageSize = &pageSize
	return r
}

// Getting list of objects by exact match
func (r ColumnsAPIColumnsListRequest) Name(name string) ColumnsAPIColumnsListRequest {
	r.name = &name
	return r
}

// Getting list of objects by prefix match
func (r ColumnsAPIColumnsListRequest) NameStartswith(nameStartswith string) ColumnsAPIColumnsListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// Whether to only return count of objects
func (r ColumnsAPIColumnsListRequest) CountOnly(countOnly bool) ColumnsAPIColumnsListRequest {
	r.countOnly = &countOnly
	return r
}

func (r ColumnsAPIColumnsListRequest) Execute() ([]Column, *http.Response, error) {
	return r.ApiService.ColumnsListExecute(r)
}

/*
ColumnsList List Database Table Columns

This endpoint lists Database Table Columns.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ColumnsAPIColumnsListRequest
*/
func (a *ColumnsAPIService) ColumnsList(ctx context.Context) ColumnsAPIColumnsListRequest {
	return ColumnsAPIColumnsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Column
func (a *ColumnsAPIService) ColumnsListExecute(r ColumnsAPIColumnsListRequest) ([]Column, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Column
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ColumnsAPIService.ColumnsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/columns/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseName == nil {
		return localVarReturnValue, nil, reportError("databaseName is required and must be specified")
	}
	if r.schemaName == nil {
		return localVarReturnValue, nil, reportError("schemaName is required and must be specified")
	}
	if r.tableName == nil {
		return localVarReturnValue, nil, reportError("tableName is required and must be specified")
	}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	} else {
		var defaultValue int32 = 999
		r.pageSize = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "database_name", r.databaseName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "schema_name", r.schemaName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "table_name", r.tableName, "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.nameStartswith != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__startswith", r.nameStartswith, "")
	}
	if r.countOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count_only", r.countOnly, "")
	} else {
		var defaultValue bool = false
		r.countOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ColumnsAPIColumnsRenameRequest struct {
	ctx context.Context
	ApiService *ColumnsAPIService
	columnRenameParamsBody *ColumnRenameParams
}

func (r ColumnsAPIColumnsRenameRequest) ColumnRenameParamsBody(columnRenameParamsBody ColumnRenameParams) ColumnsAPIColumnsRenameRequest {
	r.columnRenameParamsBody = &columnRenameParamsBody
	return r
}

func (r ColumnsAPIColumnsRenameRequest) Execute() (*http.Response, error) {
	return r.ApiService.ColumnsRenameExecute(r)
}

/*
ColumnsRename Rename a Database Table Column

This endpoint renames column.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ColumnsAPIColumnsRenameRequest
*/
func (a *ColumnsAPIService) ColumnsRename(ctx context.Context) ColumnsAPIColumnsRenameRequest {
	return ColumnsAPIColumnsRenameRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ColumnsAPIService) ColumnsRenameExecute(r ColumnsAPIColumnsRenameRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ColumnsAPIService.ColumnsRename")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/columns/rename/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.columnRenameParamsBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ColumnsAPIColumnsShowRequest struct {
	ctx context.Context
	ApiService *ColumnsAPIService
	databaseName *string
	schemaName *string
	tableName *string
	name *string
}

// Getting list of objects by database_name
func (r ColumnsAPIColumnsShowRequest) DatabaseName(databaseName string) ColumnsAPIColumnsShowRequest {
	r.databaseName = &databaseName
	return r
}

// Getting list of objects by schema_name
func (r ColumnsAPIColumnsShowRequest) SchemaName(schemaName string) ColumnsAPIColumnsShowRequest {
	r.schemaName = &schemaName
	return r
}

// Getting list of objects by table_name
func (r ColumnsAPIColumnsShowRequest) TableName(tableName string) ColumnsAPIColumnsShowRequest {
	r.tableName = &tableName
	return r
}

// Getting object by exact match
func (r ColumnsAPIColumnsShowRequest) Name(name string) ColumnsAPIColumnsShowRequest {
	r.name = &name
	return r
}

func (r ColumnsAPIColumnsShowRequest) Execute() (*Column, *http.Response, error) {
	return r.ApiService.ColumnsShowExecute(r)
}

/*
ColumnsShow Show a Database Table Column

This endpoint shows a Database Table Column.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ColumnsAPIColumnsShowRequest
*/
func (a *ColumnsAPIService) ColumnsShow(ctx context.Context) ColumnsAPIColumnsShowRequest {
	return ColumnsAPIColumnsShowRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Column
func (a *ColumnsAPIService) ColumnsShowExecute(r ColumnsAPIColumnsShowRequest) (*Column, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Column
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ColumnsAPIService.ColumnsShow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/columns/show/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.databaseName == nil {
		return localVarReturnValue, nil, reportError("databaseName is required and must be specified")
	}
	if r.schemaName == nil {
		return localVarReturnValue, nil, reportError("schemaName is required and must be specified")
	}
	if r.tableName == nil {
		return localVarReturnValue, nil, reportError("tableName is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "database_name", r.databaseName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "schema_name", r.schemaName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "table_name", r.tableName, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
