/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PsusAPIService PsusAPI service
type PsusAPIService service

type PsusAPIPsusListRequest struct {
	ctx context.Context
	ApiService *PsusAPIService
	page *string
	state *string
	sn *string
	model *string
	boxName *string
	boxId *string
}

func (r PsusAPIPsusListRequest) Page(page string) PsusAPIPsusListRequest {
	r.page = &page
	return r
}

// Filter by PSU state
func (r PsusAPIPsusListRequest) State(state string) PsusAPIPsusListRequest {
	r.state = &state
	return r
}

// Filter by PSU serial number
func (r PsusAPIPsusListRequest) Sn(sn string) PsusAPIPsusListRequest {
	r.sn = &sn
	return r
}

// Filter by PSU model
func (r PsusAPIPsusListRequest) Model(model string) PsusAPIPsusListRequest {
	r.model = &model
	return r
}

// Filter by parent Box name
func (r PsusAPIPsusListRequest) BoxName(boxName string) PsusAPIPsusListRequest {
	r.boxName = &boxName
	return r
}

// Filter by parent Box ID
func (r PsusAPIPsusListRequest) BoxId(boxId string) PsusAPIPsusListRequest {
	r.boxId = &boxId
	return r
}

func (r PsusAPIPsusListRequest) Execute() ([]PSU, *http.Response, error) {
	return r.ApiService.PsusListExecute(r)
}

/*
PsusList List PSUs

This endpoint lists PSUs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PsusAPIPsusListRequest
*/
func (a *PsusAPIService) PsusList(ctx context.Context) PsusAPIPsusListRequest {
	return PsusAPIPsusListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PSU
func (a *PsusAPIService) PsusListExecute(r PsusAPIPsusListRequest) ([]PSU, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PSU
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PsusAPIService.PsusList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/psus/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "")
	}
	if r.sn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sn", r.sn, "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "")
	}
	if r.boxName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "box__name", r.boxName, "")
	}
	if r.boxId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "box__id", r.boxId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PsusAPIPsusReadRequest struct {
	ctx context.Context
	ApiService *PsusAPIService
	id string
}

func (r PsusAPIPsusReadRequest) Execute() (*PSU, *http.Response, error) {
	return r.ApiService.PsusReadExecute(r)
}

/*
PsusRead Return Details of One PSU

This endpoint returns details of a specified PSU.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id PSU ID
 @return PsusAPIPsusReadRequest
*/
func (a *PsusAPIService) PsusRead(ctx context.Context, id string) PsusAPIPsusReadRequest {
	return PsusAPIPsusReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PSU
func (a *PsusAPIService) PsusReadExecute(r PsusAPIPsusReadRequest) (*PSU, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PSU
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PsusAPIService.PsusRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/psus/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
