/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VipsAPIService VipsAPI service
type VipsAPIService service

type VipsAPIVipsListRequest struct {
	ctx context.Context
	ApiService *VipsAPIService
	page *string
	ip *string
	ipIcontains *string
	vippoolId *string
	vippoolName *string
	cnodeName *string
	cnodeId *string
	clusterName *string
	clusterId *string
}

func (r VipsAPIVipsListRequest) Page(page string) VipsAPIVipsListRequest {
	r.page = &page
	return r
}

// Filter by IP
func (r VipsAPIVipsListRequest) Ip(ip string) VipsAPIVipsListRequest {
	r.ip = &ip
	return r
}

// Filter IP by case-insensitive containment
func (r VipsAPIVipsListRequest) IpIcontains(ipIcontains string) VipsAPIVipsListRequest {
	r.ipIcontains = &ipIcontains
	return r
}

// Filter by VIP Pool ID
func (r VipsAPIVipsListRequest) VippoolId(vippoolId string) VipsAPIVipsListRequest {
	r.vippoolId = &vippoolId
	return r
}

// Filter by VIP Pool name
func (r VipsAPIVipsListRequest) VippoolName(vippoolName string) VipsAPIVipsListRequest {
	r.vippoolName = &vippoolName
	return r
}

// Filter by CNode name
func (r VipsAPIVipsListRequest) CnodeName(cnodeName string) VipsAPIVipsListRequest {
	r.cnodeName = &cnodeName
	return r
}

// Filter by CNode ID
func (r VipsAPIVipsListRequest) CnodeId(cnodeId string) VipsAPIVipsListRequest {
	r.cnodeId = &cnodeId
	return r
}

func (r VipsAPIVipsListRequest) ClusterName(clusterName string) VipsAPIVipsListRequest {
	r.clusterName = &clusterName
	return r
}

func (r VipsAPIVipsListRequest) ClusterId(clusterId string) VipsAPIVipsListRequest {
	r.clusterId = &clusterId
	return r
}

func (r VipsAPIVipsListRequest) Execute() ([]VIP, *http.Response, error) {
	return r.ApiService.VipsListExecute(r)
}

/*
VipsList List VIPs

This endpoint lists VIPs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return VipsAPIVipsListRequest
*/
func (a *VipsAPIService) VipsList(ctx context.Context) VipsAPIVipsListRequest {
	return VipsAPIVipsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []VIP
func (a *VipsAPIService) VipsListExecute(r VipsAPIVipsListRequest) ([]VIP, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []VIP
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VipsAPIService.VipsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vips/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "")
	}
	if r.ipIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip__icontains", r.ipIcontains, "")
	}
	if r.vippoolId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vippool__id", r.vippoolId, "")
	}
	if r.vippoolName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vippool__name", r.vippoolName, "")
	}
	if r.cnodeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cnode__name", r.cnodeName, "")
	}
	if r.cnodeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cnode__id", r.cnodeId, "")
	}
	if r.clusterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__name", r.clusterName, "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__id", r.clusterId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type VipsAPIVipsReadRequest struct {
	ctx context.Context
	ApiService *VipsAPIService
	id string
}

func (r VipsAPIVipsReadRequest) Execute() (*VIP, *http.Response, error) {
	return r.ApiService.VipsReadExecute(r)
}

/*
VipsRead Return Details of a VIP

This endpoint returns information about a specified VIP.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id VIP ID
 @return VipsAPIVipsReadRequest
*/
func (a *VipsAPIService) VipsRead(ctx context.Context, id string) VipsAPIVipsReadRequest {
	return VipsAPIVipsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return VIP
func (a *VipsAPIService) VipsReadExecute(r VipsAPIVipsReadRequest) (*VIP, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VIP
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VipsAPIService.VipsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/vips/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
