/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ObjectpermissionsAPIService ObjectpermissionsAPI service
type ObjectpermissionsAPIService service

type ObjectpermissionsAPIObjectpermissionsListRequest struct {
	ctx context.Context
	ApiService *ObjectpermissionsAPIService
	objectType *string
	objectId *string
	realm *string
	permissions *string
	managerId *string
	roleId *string
}

func (r ObjectpermissionsAPIObjectpermissionsListRequest) ObjectType(objectType string) ObjectpermissionsAPIObjectpermissionsListRequest {
	r.objectType = &objectType
	return r
}

func (r ObjectpermissionsAPIObjectpermissionsListRequest) ObjectId(objectId string) ObjectpermissionsAPIObjectpermissionsListRequest {
	r.objectId = &objectId
	return r
}

func (r ObjectpermissionsAPIObjectpermissionsListRequest) Realm(realm string) ObjectpermissionsAPIObjectpermissionsListRequest {
	r.realm = &realm
	return r
}

func (r ObjectpermissionsAPIObjectpermissionsListRequest) Permissions(permissions string) ObjectpermissionsAPIObjectpermissionsListRequest {
	r.permissions = &permissions
	return r
}

func (r ObjectpermissionsAPIObjectpermissionsListRequest) ManagerId(managerId string) ObjectpermissionsAPIObjectpermissionsListRequest {
	r.managerId = &managerId
	return r
}

func (r ObjectpermissionsAPIObjectpermissionsListRequest) RoleId(roleId string) ObjectpermissionsAPIObjectpermissionsListRequest {
	r.roleId = &roleId
	return r
}

func (r ObjectpermissionsAPIObjectpermissionsListRequest) Execute() ([]ObjectPermission, *http.Response, error) {
	return r.ApiService.ObjectpermissionsListExecute(r)
}

/*
ObjectpermissionsList List Object Permissions

This endpoint lists object permissions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ObjectpermissionsAPIObjectpermissionsListRequest
*/
func (a *ObjectpermissionsAPIService) ObjectpermissionsList(ctx context.Context) ObjectpermissionsAPIObjectpermissionsListRequest {
	return ObjectpermissionsAPIObjectpermissionsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ObjectPermission
func (a *ObjectpermissionsAPIService) ObjectpermissionsListExecute(r ObjectpermissionsAPIObjectpermissionsListRequest) ([]ObjectPermission, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ObjectPermission
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObjectpermissionsAPIService.ObjectpermissionsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/permissions/objects/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.objectType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object_type", r.objectType, "")
	}
	if r.objectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "object_id", r.objectId, "")
	}
	if r.realm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "realm", r.realm, "")
	}
	if r.permissions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permissions", r.permissions, "")
	}
	if r.managerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "manager_id", r.managerId, "")
	}
	if r.roleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role_id", r.roleId, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
