/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// HostsAPIService HostsAPI service
type HostsAPIService service

type HostsAPIHostsDiscoverRequest struct {
	ctx context.Context
	ApiService *HostsAPIService
}

func (r HostsAPIHostsDiscoverRequest) Execute() (*AsyncTaskInResponse, *http.Response, error) {
	return r.ApiService.HostsDiscoverExecute(r)
}

/*
HostsDiscover Discover Hosts

Discover hosts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return HostsAPIHostsDiscoverRequest
*/
func (a *HostsAPIService) HostsDiscover(ctx context.Context) HostsAPIHostsDiscoverRequest {
	return HostsAPIHostsDiscoverRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncTaskInResponse
func (a *HostsAPIService) HostsDiscoverExecute(r HostsAPIHostsDiscoverRequest) (*AsyncTaskInResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncTaskInResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.HostsDiscover")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hosts/discover"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HostsAPIHostsListRequest struct {
	ctx context.Context
	ApiService *HostsAPIService
	page *string
	auto *bool
	ipList *string
	loopback *bool
	ip *string
	state *string
	clusterName *string
	clusterId *int32
	installState *string
	nodeType *string
	swVersion *string
	build *string
}

func (r HostsAPIHostsListRequest) Page(page string) HostsAPIHostsListRequest {
	r.page = &page
	return r
}

// Specify auto or manually hosts
func (r HostsAPIHostsListRequest) Auto(auto bool) HostsAPIHostsListRequest {
	r.auto = &auto
	return r
}

// Comma-separated list of nodes IPs
func (r HostsAPIHostsListRequest) IpList(ipList string) HostsAPIHostsListRequest {
	r.ipList = &ipList
	return r
}

// Loopback nodes
func (r HostsAPIHostsListRequest) Loopback(loopback bool) HostsAPIHostsListRequest {
	r.loopback = &loopback
	return r
}

func (r HostsAPIHostsListRequest) Ip(ip string) HostsAPIHostsListRequest {
	r.ip = &ip
	return r
}

func (r HostsAPIHostsListRequest) State(state string) HostsAPIHostsListRequest {
	r.state = &state
	return r
}

func (r HostsAPIHostsListRequest) ClusterName(clusterName string) HostsAPIHostsListRequest {
	r.clusterName = &clusterName
	return r
}

func (r HostsAPIHostsListRequest) ClusterId(clusterId int32) HostsAPIHostsListRequest {
	r.clusterId = &clusterId
	return r
}

func (r HostsAPIHostsListRequest) InstallState(installState string) HostsAPIHostsListRequest {
	r.installState = &installState
	return r
}

func (r HostsAPIHostsListRequest) NodeType(nodeType string) HostsAPIHostsListRequest {
	r.nodeType = &nodeType
	return r
}

func (r HostsAPIHostsListRequest) SwVersion(swVersion string) HostsAPIHostsListRequest {
	r.swVersion = &swVersion
	return r
}

func (r HostsAPIHostsListRequest) Build(build string) HostsAPIHostsListRequest {
	r.build = &build
	return r
}

func (r HostsAPIHostsListRequest) Execute() ([]Host, *http.Response, error) {
	return r.ApiService.HostsListExecute(r)
}

/*
HostsList List Hosts

This endpoint lists discovered hosts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return HostsAPIHostsListRequest
*/
func (a *HostsAPIService) HostsList(ctx context.Context) HostsAPIHostsListRequest {
	return HostsAPIHostsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Host
func (a *HostsAPIService) HostsListExecute(r HostsAPIHostsListRequest) ([]Host, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Host
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.HostsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hosts/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.auto != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "auto", r.auto, "")
	}
	if r.ipList != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip_list", r.ipList, "")
	}
	if r.loopback != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "loopback", r.loopback, "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "")
	}
	if r.clusterName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__name", r.clusterName, "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster__id", r.clusterId, "")
	}
	if r.installState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "install_state", r.installState, "")
	}
	if r.nodeType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "node_type", r.nodeType, "")
	}
	if r.swVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sw_version", r.swVersion, "")
	}
	if r.build != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "build", r.build, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type HostsAPIHostsReadRequest struct {
	ctx context.Context
	ApiService *HostsAPIService
	id string
}

func (r HostsAPIHostsReadRequest) Execute() (*Host, *http.Response, error) {
	return r.ApiService.HostsReadExecute(r)
}

/*
HostsRead Return Details of Discovered Host

This endpoint returns details of a discovered host.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return HostsAPIHostsReadRequest
*/
func (a *HostsAPIService) HostsRead(ctx context.Context, id string) HostsAPIHostsReadRequest {
	return HostsAPIHostsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Host
func (a *HostsAPIService) HostsReadExecute(r HostsAPIHostsReadRequest) (*Host, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Host
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.HostsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hosts/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
