/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// SnapshotsAPIService SnapshotsAPI service
type SnapshotsAPIService service

type SnapshotsAPISnapshotsCloneRequest struct {
	ctx context.Context
	ApiService *SnapshotsAPIService
	id string
	snapshotCloneParams *SnapshotsCloneRequest
}

func (r SnapshotsAPISnapshotsCloneRequest) SnapshotCloneParams(snapshotCloneParams SnapshotsCloneRequest) SnapshotsAPISnapshotsCloneRequest {
	r.snapshotCloneParams = &snapshotCloneParams
	return r
}

func (r SnapshotsAPISnapshotsCloneRequest) Execute() (*AsyncGlobalSnapStream, *http.Response, error) {
	return r.ApiService.SnapshotsCloneExecute(r)
}

/*
SnapshotsClone Clones snapshot.

This endpoint clones selected snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return SnapshotsAPISnapshotsCloneRequest
*/
func (a *SnapshotsAPIService) SnapshotsClone(ctx context.Context, id string) SnapshotsAPISnapshotsCloneRequest {
	return SnapshotsAPISnapshotsCloneRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AsyncGlobalSnapStream
func (a *SnapshotsAPIService) SnapshotsCloneExecute(r SnapshotsAPISnapshotsCloneRequest) (*AsyncGlobalSnapStream, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncGlobalSnapStream
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SnapshotsAPIService.SnapshotsClone")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/snapshots/{id}/clone/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.snapshotCloneParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SnapshotsAPISnapshotsCreateRequest struct {
	ctx context.Context
	ApiService *SnapshotsAPIService
	snapshotCreateParams *SnapshotsCreateRequest
}

func (r SnapshotsAPISnapshotsCreateRequest) SnapshotCreateParams(snapshotCreateParams SnapshotsCreateRequest) SnapshotsAPISnapshotsCreateRequest {
	r.snapshotCreateParams = &snapshotCreateParams
	return r
}

func (r SnapshotsAPISnapshotsCreateRequest) Execute() (*Snapshot, *http.Response, error) {
	return r.ApiService.SnapshotsCreateExecute(r)
}

/*
SnapshotsCreate Create Snapshot

This endpoint creates a snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SnapshotsAPISnapshotsCreateRequest
*/
func (a *SnapshotsAPIService) SnapshotsCreate(ctx context.Context) SnapshotsAPISnapshotsCreateRequest {
	return SnapshotsAPISnapshotsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Snapshot
func (a *SnapshotsAPIService) SnapshotsCreateExecute(r SnapshotsAPISnapshotsCreateRequest) (*Snapshot, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Snapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SnapshotsAPIService.SnapshotsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/snapshots/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.snapshotCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SnapshotsAPISnapshotsDeleteRequest struct {
	ctx context.Context
	ApiService *SnapshotsAPIService
	id string
}

func (r SnapshotsAPISnapshotsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.SnapshotsDeleteExecute(r)
}

/*
SnapshotsDelete Delete a Snapshot

This endpoint deletes a snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Specify the ID of the snapshot.
 @return SnapshotsAPISnapshotsDeleteRequest
*/
func (a *SnapshotsAPIService) SnapshotsDelete(ctx context.Context, id string) SnapshotsAPISnapshotsDeleteRequest {
	return SnapshotsAPISnapshotsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SnapshotsAPIService) SnapshotsDeleteExecute(r SnapshotsAPISnapshotsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SnapshotsAPIService.SnapshotsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/snapshots/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SnapshotsAPISnapshotsListRequest struct {
	ctx context.Context
	ApiService *SnapshotsAPIService
	page *int32
	pageSize *int32
	path *string
	nameContains *string
	expirationTime *string
	protectionPolicyName *string
	protectionPolicyId *int32
	state *string
	created *string
	locked *bool
	tenantId *int32
	tenantNameIcontains *string
}

func (r SnapshotsAPISnapshotsListRequest) Page(page int32) SnapshotsAPISnapshotsListRequest {
	r.page = &page
	return r
}

func (r SnapshotsAPISnapshotsListRequest) PageSize(pageSize int32) SnapshotsAPISnapshotsListRequest {
	r.pageSize = &pageSize
	return r
}

// Filter by snapshot path
func (r SnapshotsAPISnapshotsListRequest) Path(path string) SnapshotsAPISnapshotsListRequest {
	r.path = &path
	return r
}

// Filter by part of snapshot name
func (r SnapshotsAPISnapshotsListRequest) NameContains(nameContains string) SnapshotsAPISnapshotsListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter by expiration time
func (r SnapshotsAPISnapshotsListRequest) ExpirationTime(expirationTime string) SnapshotsAPISnapshotsListRequest {
	r.expirationTime = &expirationTime
	return r
}

// Filter by snapshot policy name
func (r SnapshotsAPISnapshotsListRequest) ProtectionPolicyName(protectionPolicyName string) SnapshotsAPISnapshotsListRequest {
	r.protectionPolicyName = &protectionPolicyName
	return r
}

// Filter by snapshot policy ID
func (r SnapshotsAPISnapshotsListRequest) ProtectionPolicyId(protectionPolicyId int32) SnapshotsAPISnapshotsListRequest {
	r.protectionPolicyId = &protectionPolicyId
	return r
}

// Filter by state
func (r SnapshotsAPISnapshotsListRequest) State(state string) SnapshotsAPISnapshotsListRequest {
	r.state = &state
	return r
}

// Filter by creation time
func (r SnapshotsAPISnapshotsListRequest) Created(created string) SnapshotsAPISnapshotsListRequest {
	r.created = &created
	return r
}

// Filter for locked snapshots
func (r SnapshotsAPISnapshotsListRequest) Locked(locked bool) SnapshotsAPISnapshotsListRequest {
	r.locked = &locked
	return r
}

// Tenant id to filter by.
func (r SnapshotsAPISnapshotsListRequest) TenantId(tenantId int32) SnapshotsAPISnapshotsListRequest {
	r.tenantId = &tenantId
	return r
}

// Tenant name to filter by
func (r SnapshotsAPISnapshotsListRequest) TenantNameIcontains(tenantNameIcontains string) SnapshotsAPISnapshotsListRequest {
	r.tenantNameIcontains = &tenantNameIcontains
	return r
}

func (r SnapshotsAPISnapshotsListRequest) Execute() ([]Snapshot, *http.Response, error) {
	return r.ApiService.SnapshotsListExecute(r)
}

/*
SnapshotsList List Snapshots

This endpoint list snapshots. The list can be filtered.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SnapshotsAPISnapshotsListRequest
*/
func (a *SnapshotsAPIService) SnapshotsList(ctx context.Context) SnapshotsAPISnapshotsListRequest {
	return SnapshotsAPISnapshotsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Snapshot
func (a *SnapshotsAPIService) SnapshotsListExecute(r SnapshotsAPISnapshotsListRequest) ([]Snapshot, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Snapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SnapshotsAPIService.SnapshotsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/snapshots/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "")
	}
	if r.nameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name__contains", r.nameContains, "")
	}
	if r.expirationTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expiration_time", r.expirationTime, "")
	}
	if r.protectionPolicyName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protection_policy__name", r.protectionPolicyName, "")
	}
	if r.protectionPolicyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "protection_policy__id", r.protectionPolicyId, "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "")
	}
	if r.created != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created", r.created, "")
	}
	if r.locked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locked", r.locked, "")
	}
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "")
	}
	if r.tenantNameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_name__icontains", r.tenantNameIcontains, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SnapshotsAPISnapshotsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *SnapshotsAPIService
	id string
	snapshotModifyParams *SnapshotsPartialUpdateRequest
}

func (r SnapshotsAPISnapshotsPartialUpdateRequest) SnapshotModifyParams(snapshotModifyParams SnapshotsPartialUpdateRequest) SnapshotsAPISnapshotsPartialUpdateRequest {
	r.snapshotModifyParams = &snapshotModifyParams
	return r
}

func (r SnapshotsAPISnapshotsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.SnapshotsPartialUpdateExecute(r)
}

/*
SnapshotsPartialUpdate Modify a Snapshot

This endpoint modifies a snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Snapshot ID
 @return SnapshotsAPISnapshotsPartialUpdateRequest
*/
func (a *SnapshotsAPIService) SnapshotsPartialUpdate(ctx context.Context, id string) SnapshotsAPISnapshotsPartialUpdateRequest {
	return SnapshotsAPISnapshotsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SnapshotsAPIService) SnapshotsPartialUpdateExecute(r SnapshotsAPISnapshotsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SnapshotsAPIService.SnapshotsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/snapshots/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.snapshotModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SnapshotsAPISnapshotsReadRequest struct {
	ctx context.Context
	ApiService *SnapshotsAPIService
	id string
}

func (r SnapshotsAPISnapshotsReadRequest) Execute() (*Snapshot, *http.Response, error) {
	return r.ApiService.SnapshotsReadExecute(r)
}

/*
SnapshotsRead Return Details of a Snapshot

This endpoint returns details of a snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Snapshot ID
 @return SnapshotsAPISnapshotsReadRequest
*/
func (a *SnapshotsAPIService) SnapshotsRead(ctx context.Context, id string) SnapshotsAPISnapshotsReadRequest {
	return SnapshotsAPISnapshotsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Snapshot
func (a *SnapshotsAPIService) SnapshotsReadExecute(r SnapshotsAPISnapshotsReadRequest) (*Snapshot, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Snapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SnapshotsAPIService.SnapshotsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/snapshots/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
