/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// QuotasAPIService QuotasAPI service
type QuotasAPIService service

type QuotasAPIQuotaRefreshUserQuotasRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	id string
}

func (r QuotasAPIQuotaRefreshUserQuotasRequest) Execute() (*http.Response, error) {
	return r.ApiService.QuotaRefreshUserQuotasExecute(r)
}

/*
QuotaRefreshUserQuotas Refresh user quotas of a quota

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Quota ID
 @return QuotasAPIQuotaRefreshUserQuotasRequest
*/
func (a *QuotasAPIService) QuotaRefreshUserQuotas(ctx context.Context, id string) QuotasAPIQuotaRefreshUserQuotasRequest {
	return QuotasAPIQuotaRefreshUserQuotasRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *QuotasAPIService) QuotaRefreshUserQuotasExecute(r QuotasAPIQuotaRefreshUserQuotasRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotaRefreshUserQuotas")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/{id}/refresh_user_quotas/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type QuotasAPIQuotasCreateRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	quotaCreateParams *QuotasCreateRequest
}

func (r QuotasAPIQuotasCreateRequest) QuotaCreateParams(quotaCreateParams QuotasCreateRequest) QuotasAPIQuotasCreateRequest {
	r.quotaCreateParams = &quotaCreateParams
	return r
}

func (r QuotasAPIQuotasCreateRequest) Execute() (*Quota, *http.Response, error) {
	return r.ApiService.QuotasCreateExecute(r)
}

/*
QuotasCreate Create a Quota

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return QuotasAPIQuotasCreateRequest
*/
func (a *QuotasAPIService) QuotasCreate(ctx context.Context) QuotasAPIQuotasCreateRequest {
	return QuotasAPIQuotasCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return Quota
func (a *QuotasAPIService) QuotasCreateExecute(r QuotasAPIQuotasCreateRequest) (*Quota, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Quota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.quotaCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type QuotasAPIQuotasDeleteRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	id string
}

func (r QuotasAPIQuotasDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.QuotasDeleteExecute(r)
}

/*
QuotasDelete Delete Quota

This endpoint deletes a quota.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Quota ID
 @return QuotasAPIQuotasDeleteRequest
*/
func (a *QuotasAPIService) QuotasDelete(ctx context.Context, id string) QuotasAPIQuotasDeleteRequest {
	return QuotasAPIQuotasDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *QuotasAPIService) QuotasDeleteExecute(r QuotasAPIQuotasDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type QuotasAPIQuotasListRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	page *string
	pageSize *string
	name *string
	hardLimit *string
	softLimit *string
	softLimitInodes *string
	hardLimitInodes *string
	systemId *string
	showUserRules *bool
	tenantId *int32
	tenantNameIcontains *string
}

func (r QuotasAPIQuotasListRequest) Page(page string) QuotasAPIQuotasListRequest {
	r.page = &page
	return r
}

func (r QuotasAPIQuotasListRequest) PageSize(pageSize string) QuotasAPIQuotasListRequest {
	r.pageSize = &pageSize
	return r
}

func (r QuotasAPIQuotasListRequest) Name(name string) QuotasAPIQuotasListRequest {
	r.name = &name
	return r
}

func (r QuotasAPIQuotasListRequest) HardLimit(hardLimit string) QuotasAPIQuotasListRequest {
	r.hardLimit = &hardLimit
	return r
}

func (r QuotasAPIQuotasListRequest) SoftLimit(softLimit string) QuotasAPIQuotasListRequest {
	r.softLimit = &softLimit
	return r
}

func (r QuotasAPIQuotasListRequest) SoftLimitInodes(softLimitInodes string) QuotasAPIQuotasListRequest {
	r.softLimitInodes = &softLimitInodes
	return r
}

func (r QuotasAPIQuotasListRequest) HardLimitInodes(hardLimitInodes string) QuotasAPIQuotasListRequest {
	r.hardLimitInodes = &hardLimitInodes
	return r
}

func (r QuotasAPIQuotasListRequest) SystemId(systemId string) QuotasAPIQuotasListRequest {
	r.systemId = &systemId
	return r
}

func (r QuotasAPIQuotasListRequest) ShowUserRules(showUserRules bool) QuotasAPIQuotasListRequest {
	r.showUserRules = &showUserRules
	return r
}

// Tenant id to filter by.
func (r QuotasAPIQuotasListRequest) TenantId(tenantId int32) QuotasAPIQuotasListRequest {
	r.tenantId = &tenantId
	return r
}

// Tenant name to filter by
func (r QuotasAPIQuotasListRequest) TenantNameIcontains(tenantNameIcontains string) QuotasAPIQuotasListRequest {
	r.tenantNameIcontains = &tenantNameIcontains
	return r
}

func (r QuotasAPIQuotasListRequest) Execute() ([]Quota, *http.Response, error) {
	return r.ApiService.QuotasListExecute(r)
}

/*
QuotasList List Quotas

This endpoint lists quotas. The parameters enable you to filter the list.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return QuotasAPIQuotasListRequest
*/
func (a *QuotasAPIService) QuotasList(ctx context.Context) QuotasAPIQuotasListRequest {
	return QuotasAPIQuotasListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []Quota
func (a *QuotasAPIService) QuotasListExecute(r QuotasAPIQuotasListRequest) ([]Quota, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []Quota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.hardLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hard_limit", r.hardLimit, "")
	}
	if r.softLimit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "soft_limit", r.softLimit, "")
	}
	if r.softLimitInodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "soft_limit_inodes", r.softLimitInodes, "")
	}
	if r.hardLimitInodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hard_limit_inodes", r.hardLimitInodes, "")
	}
	if r.systemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "system_id", r.systemId, "")
	}
	if r.showUserRules != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "show_user_rules", r.showUserRules, "")
	}
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "")
	}
	if r.tenantNameIcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_name__icontains", r.tenantNameIcontains, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type QuotasAPIQuotasPartialUpdateRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	id string
	quotaModifyParams *QuotasPartialUpdateRequest
}

func (r QuotasAPIQuotasPartialUpdateRequest) QuotaModifyParams(quotaModifyParams QuotasPartialUpdateRequest) QuotasAPIQuotasPartialUpdateRequest {
	r.quotaModifyParams = &quotaModifyParams
	return r
}

func (r QuotasAPIQuotasPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.QuotasPartialUpdateExecute(r)
}

/*
QuotasPartialUpdate Modify Quota

This endpoint modifies a quota.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Quota ID
 @return QuotasAPIQuotasPartialUpdateRequest
*/
func (a *QuotasAPIService) QuotasPartialUpdate(ctx context.Context, id string) QuotasAPIQuotasPartialUpdateRequest {
	return QuotasAPIQuotasPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *QuotasAPIService) QuotasPartialUpdateExecute(r QuotasAPIQuotasPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.quotaModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type QuotasAPIQuotasReadRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	id string
}

func (r QuotasAPIQuotasReadRequest) Execute() (*Quota, *http.Response, error) {
	return r.ApiService.QuotasReadExecute(r)
}

/*
QuotasRead Return details of a quota.

This endpoint returns details of a specified quota.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Quota ID
 @return QuotasAPIQuotasReadRequest
*/
func (a *QuotasAPIService) QuotasRead(ctx context.Context, id string) QuotasAPIQuotasReadRequest {
	return QuotasAPIQuotasReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Quota
func (a *QuotasAPIService) QuotasReadExecute(r QuotasAPIQuotasReadRequest) (*Quota, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Quota
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type QuotasAPIQuotasRecalcRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	id *string
}

// Quota ID - if not given, will be applied to all quotas
func (r QuotasAPIQuotasRecalcRequest) Id(id string) QuotasAPIQuotasRecalcRequest {
	r.id = &id
	return r
}

func (r QuotasAPIQuotasRecalcRequest) Execute() (*http.Response, error) {
	return r.ApiService.QuotasRecalcExecute(r)
}

/*
QuotasRecalc Start recalculation flow all quotas

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return QuotasAPIQuotasRecalcRequest
*/
func (a *QuotasAPIService) QuotasRecalc(ctx context.Context) QuotasAPIQuotasRecalcRequest {
	return QuotasAPIQuotasRecalcRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *QuotasAPIService) QuotasRecalcExecute(r QuotasAPIQuotasRecalcRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasRecalc")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/recalc/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type QuotasAPIQuotasRecalcStopRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
}

func (r QuotasAPIQuotasRecalcStopRequest) Execute() (*http.Response, error) {
	return r.ApiService.QuotasRecalcStopExecute(r)
}

/*
QuotasRecalcStop Stop recalculation flow for all quotas

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return QuotasAPIQuotasRecalcStopRequest
*/
func (a *QuotasAPIService) QuotasRecalcStop(ctx context.Context) QuotasAPIQuotasRecalcStopRequest {
	return QuotasAPIQuotasRecalcStopRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *QuotasAPIService) QuotasRecalcStopExecute(r QuotasAPIQuotasRecalcStopRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasRecalcStop")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/recalc_stop/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type QuotasAPIQuotasResetGracePeriodRequest struct {
	ctx context.Context
	ApiService *QuotasAPIService
	id string
}

func (r QuotasAPIQuotasResetGracePeriodRequest) Execute() (*http.Response, error) {
	return r.ApiService.QuotasResetGracePeriodExecute(r)
}

/*
QuotasResetGracePeriod Rest the grace period countdown after soft limit is exceeded

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Quota ID
 @return QuotasAPIQuotasResetGracePeriodRequest
*/
func (a *QuotasAPIService) QuotasResetGracePeriod(ctx context.Context, id string) QuotasAPIQuotasResetGracePeriodRequest {
	return QuotasAPIQuotasResetGracePeriodRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *QuotasAPIService) QuotasResetGracePeriodExecute(r QuotasAPIQuotasResetGracePeriodRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuotasAPIService.QuotasResetGracePeriod")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quotas/{id}/reset_grace_period/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
