/*
VAST API Swagger Schema

VAST Management API definition

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ReplicationtargetsAPIService ReplicationtargetsAPI service
type ReplicationtargetsAPIService service

type ReplicationtargetsAPIReplicationtargetsCreateRequest struct {
	ctx context.Context
	ApiService *ReplicationtargetsAPIService
	replicationTargetCreateParams *ReplicationtargetsCreateRequest
}

func (r ReplicationtargetsAPIReplicationtargetsCreateRequest) ReplicationTargetCreateParams(replicationTargetCreateParams ReplicationtargetsCreateRequest) ReplicationtargetsAPIReplicationtargetsCreateRequest {
	r.replicationTargetCreateParams = &replicationTargetCreateParams
	return r
}

func (r ReplicationtargetsAPIReplicationtargetsCreateRequest) Execute() (*ReplicationTarget, *http.Response, error) {
	return r.ApiService.ReplicationtargetsCreateExecute(r)
}

/*
ReplicationtargetsCreate Create an S3 Replication Peer

This endpoint creates an S3 replication peer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ReplicationtargetsAPIReplicationtargetsCreateRequest
*/
func (a *ReplicationtargetsAPIService) ReplicationtargetsCreate(ctx context.Context) ReplicationtargetsAPIReplicationtargetsCreateRequest {
	return ReplicationtargetsAPIReplicationtargetsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReplicationTarget
func (a *ReplicationtargetsAPIService) ReplicationtargetsCreateExecute(r ReplicationtargetsAPIReplicationtargetsCreateRequest) (*ReplicationTarget, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReplicationTarget
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationtargetsAPIService.ReplicationtargetsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationtargets/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationTargetCreateParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReplicationtargetsAPIReplicationtargetsDeleteRequest struct {
	ctx context.Context
	ApiService *ReplicationtargetsAPIService
	id string
}

func (r ReplicationtargetsAPIReplicationtargetsDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationtargetsDeleteExecute(r)
}

/*
ReplicationtargetsDelete Delete a Replication Target

This endpoint deletes an S3 replication peer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Replication Target ID
 @return ReplicationtargetsAPIReplicationtargetsDeleteRequest
*/
func (a *ReplicationtargetsAPIService) ReplicationtargetsDelete(ctx context.Context, id string) ReplicationtargetsAPIReplicationtargetsDeleteRequest {
	return ReplicationtargetsAPIReplicationtargetsDeleteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ReplicationtargetsAPIService) ReplicationtargetsDeleteExecute(r ReplicationtargetsAPIReplicationtargetsDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationtargetsAPIService.ReplicationtargetsDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationtargets/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ReplicationtargetsAPIReplicationtargetsListRequest struct {
	ctx context.Context
	ApiService *ReplicationtargetsAPIService
	page *string
	name *string
	bucketName *string
	httpProtocol *string
	customBucketUrl *string
}

func (r ReplicationtargetsAPIReplicationtargetsListRequest) Page(page string) ReplicationtargetsAPIReplicationtargetsListRequest {
	r.page = &page
	return r
}

// Filter by name
func (r ReplicationtargetsAPIReplicationtargetsListRequest) Name(name string) ReplicationtargetsAPIReplicationtargetsListRequest {
	r.name = &name
	return r
}

// Filter by target bucket name
func (r ReplicationtargetsAPIReplicationtargetsListRequest) BucketName(bucketName string) ReplicationtargetsAPIReplicationtargetsListRequest {
	r.bucketName = &bucketName
	return r
}

// Filter by protocol used to connect to the bucket (http or https)
func (r ReplicationtargetsAPIReplicationtargetsListRequest) HttpProtocol(httpProtocol string) ReplicationtargetsAPIReplicationtargetsListRequest {
	r.httpProtocol = &httpProtocol
	return r
}

// Filter by the URL of a custom target bucket
func (r ReplicationtargetsAPIReplicationtargetsListRequest) CustomBucketUrl(customBucketUrl string) ReplicationtargetsAPIReplicationtargetsListRequest {
	r.customBucketUrl = &customBucketUrl
	return r
}

func (r ReplicationtargetsAPIReplicationtargetsListRequest) Execute() ([]ReplicationTarget, *http.Response, error) {
	return r.ApiService.ReplicationtargetsListExecute(r)
}

/*
ReplicationtargetsList List S3 Replication Peers

This endpoint lists S3 replication peers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ReplicationtargetsAPIReplicationtargetsListRequest
*/
func (a *ReplicationtargetsAPIService) ReplicationtargetsList(ctx context.Context) ReplicationtargetsAPIReplicationtargetsListRequest {
	return ReplicationtargetsAPIReplicationtargetsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ReplicationTarget
func (a *ReplicationtargetsAPIService) ReplicationtargetsListExecute(r ReplicationtargetsAPIReplicationtargetsListRequest) ([]ReplicationTarget, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ReplicationTarget
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationtargetsAPIService.ReplicationtargetsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationtargets/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "")
	}
	if r.bucketName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bucket_name", r.bucketName, "")
	}
	if r.httpProtocol != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "http_protocol", r.httpProtocol, "")
	}
	if r.customBucketUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "custom_bucket_url", r.customBucketUrl, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest struct {
	ctx context.Context
	ApiService *ReplicationtargetsAPIService
	id string
	replicationTargetModifyParams *ReplicationtargetsPartialUpdateRequest
}

func (r ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest) ReplicationTargetModifyParams(replicationTargetModifyParams ReplicationtargetsPartialUpdateRequest) ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest {
	r.replicationTargetModifyParams = &replicationTargetModifyParams
	return r
}

func (r ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ReplicationtargetsPartialUpdateExecute(r)
}

/*
ReplicationtargetsPartialUpdate Modify an S3 Replication Peer

This endpoint modifies an S3 replication peer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Replication Target ID
 @return ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest
*/
func (a *ReplicationtargetsAPIService) ReplicationtargetsPartialUpdate(ctx context.Context, id string) ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest {
	return ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ReplicationtargetsAPIService) ReplicationtargetsPartialUpdateExecute(r ReplicationtargetsAPIReplicationtargetsPartialUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationtargetsAPIService.ReplicationtargetsPartialUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationtargets/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.replicationTargetModifyParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ReplicationtargetsAPIReplicationtargetsReadRequest struct {
	ctx context.Context
	ApiService *ReplicationtargetsAPIService
	id string
}

func (r ReplicationtargetsAPIReplicationtargetsReadRequest) Execute() (*ReplicationTarget, *http.Response, error) {
	return r.ApiService.ReplicationtargetsReadExecute(r)
}

/*
ReplicationtargetsRead Return Details of a Single S3 Replication Peer.

This endpoint returns details of a specified S3 replication peer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Replication Target ID
 @return ReplicationtargetsAPIReplicationtargetsReadRequest
*/
func (a *ReplicationtargetsAPIService) ReplicationtargetsRead(ctx context.Context, id string) ReplicationtargetsAPIReplicationtargetsReadRequest {
	return ReplicationtargetsAPIReplicationtargetsReadRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ReplicationTarget
func (a *ReplicationtargetsAPIService) ReplicationtargetsReadExecute(r ReplicationtargetsAPIReplicationtargetsReadRequest) (*ReplicationTarget, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReplicationTarget
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReplicationtargetsAPIService.ReplicationtargetsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/replicationtargets/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
